.navbar.navbar-default {
    background-color: #4A148C;
    border: none;
    border-radius: 0;
    color: #fff;
}

.ticket-event-bg {
  margin-top: -20px;
  // background-color: #303F9F;
  background: #170080; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#170080, #127d87);
  background: -o-linear-gradient(#170080, #127d87);
  background: -moz-linear-gradient(#170080, #127d87);
  background: linear-gradient(#170080, #127d87);
}


.text-header{
  color: #ff8900;
  font-size: 22px;
}

.text-info{
  color: #fff;
  font-size: 14px;
}
.alert-danger {
  color: #f5f5f5;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.hr-border{
 border-top: 2px solid #eee;
}
.btn-white{
  color: #ff8900;
  border: 1px solid #ff8900;
}
.font-black{
  color: black;
}
.font-orange{
  color: #ff8900;
}

img {
    width: 100%;
}

#container {
  height: 500px;
  width: 100%;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text1 {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  /*left: 280px;*/
  top: 110px;
}
#text2 {
  text-align: center;
  width: 100%;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: bold;
  /*left: 360px;*/
  top: 180px;
}
#text3 {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: bold;
  /*left: 490px;*/
  text-align: center;
  width: 100%;
  text-align: center;
  width: 100%;
  top: 260px;
}
#panel-day {
  height: 100px;
  width: 150px;
  z-index: 100;
  position: absolute;
  color: #ff8900;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  // left: 30%;
  top: 450px;

}
#panel-month {
  height: 100px;
  width: 150px;
  z-index: 100;
  position: absolute;
  color: #ff8900;
  font-size: 44px;
  font-weight: bold;
  // left: 43%;
  /*left: 580px;*/
  top: 450px;

}
#panel-year {
  height: 100px;
  width: 150px;
  z-index: 100;
  position: absolute;
  color: #ff8900;
  font-size: 44px;
  font-weight: bold;
  // right: 30%;
  /*left: 780px;*/
  top: 450px;

}


.grad {

background: rgba(250,250,250,1);
background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(241,241,241,1) 40%, rgba(240,240,240,1) 46%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 74%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(40%, rgba(241,241,241,1)), color-stop(46%, rgba(240,240,240,1)), color-stop(53%, rgba(232,232,232,1)), color-stop(74%, rgba(232,232,232,1)));
background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(241,241,241,1) 40%, rgba(240,240,240,1) 46%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 74%);
background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(241,241,241,1) 40%, rgba(240,240,240,1) 46%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 74%);
background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(241,241,241,1) 40%, rgba(240,240,240,1) 46%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 74%);
background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(241,241,241,1) 40%, rgba(240,240,240,1) 46%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 74%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType=0 );
}

.panel-heading-event{
  @extend .panel-heading;
  background-color: #311B92 !important;
}

.td-small{
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 12px;
  color: #959595;
}

.table.vat>tbody>tr>td, .table.vat>tbody>tr>th, .table.vat>tfoot>tr>td, .table.vat>tfoot>tr>th, .table.vat>thead>tr>td, .table.vat>thead>tr>th  {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
}

.font-gray{
  color: #959595;
}

.font-pink{
  color: #E91E63;
}
.font-pulper{
  color: #E91E63;
}
