<navbar-auth></navbar-auth>
<section class="ticket-event-bg">
  <div class="container-fulid">
    <div id="container">
      <img id="image" src="https://placehold.it/1240x600" alt="" class="" height="500">
      <p id="text1">
        Free Philippine Real Estate Ads
      </p>
      <p id="text2">
        Forums And Classifields
      </p>
      <p id="text3">
        Lorem ipsum is simply dummy text
      </p>
      <div class="container">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="col-md-4">
            <div class="panel panel-default grad" id="panel-day">
              <div class="panel-body">
                <p class="text-center">26</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default grad" id="panel-month">
              <div class="panel-body">
                <p class="text-center">NOV</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default grad" id="panel-year">
              <div class="panel-body">
                <p class="text-center">2016</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
  </br>
  </br>
  </br>
  <div class="container">
    </br>
    <div class="panel panel-default" style="border-color: #303f9f;">
      <div class="panel-heading-event">
        <p class="text-center">
          <b class="text-header">4</b>&nbsp;&nbsp;
          <b class="text-info">Weeks</b>&nbsp;&nbsp;
          <b class="text-header">8</b>&nbsp;&nbsp;
          <b class="text-info">Days</b>&nbsp;&nbsp;
          <b class="text-header">12</b>&nbsp;&nbsp;
          <b class="text-info">Hours</b>&nbsp;&nbsp;
          <b class="text-header">46</b>&nbsp;&nbsp;
          <b class="text-info">Min</b>&nbsp;&nbsp;
          <b class="text-header">16</b>&nbsp;&nbsp;
          <b class="text-info">Sec</b>&nbsp;&nbsp;
        </p>
        <p class="text-center">
          <span class="glyphicon glyphicon-calendar font-orange "></span> <span class="text-info">08.00 - 23.00</span>&nbsp;&nbsp;
          <span class="glyphicon glyphicon-map-marker font-orange "></span> <span class="text-info">Ztudio Live Hall Bangkok Thailland</span>&nbsp;&nbsp;
        </p>
        <p class="text-right" style="margin-top: -50px; margin-right: 20px;">
          <button class="btn btn-default">&nbsp; Buy Tickets &nbsp;</button>
        </p>
      </div>
      <div class="panel-body">
        <div class="row">
          <p class="text-header text-center"><b>Lorem Ipsum is simply dummy text of the printing  </br> and typestting industry</b></p>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <img src="https://placehold.it/800x600" alt="" class="" height="450">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <img src="https://placehold.it/200x170" style="width: 288px;" height="180px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://placehold.it/200x170" style="width: 288px;" height="180px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://placehold.it/200x170" style="width: 288px;" height="180px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1" style="padding-left: 0px;">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-10 col-md-offset-1" style="padding-left: 0px;">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div class="col-md-10 col-md-offset-1" style="padding-left: 0px;">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div class="col-md-10 col-md-offset-1" style="padding-left: 0px; margin-top: 50px; margin-bottom: 50px;">
          <a href="#" class="icon-social">
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span> Fackbook page
          </a>
          <button type="button" class="btn btn-info pull-right btn-xs" style="margin-right: 20px;">Tweet</button>
          <button type="button" class="btn btn-primary pull-right btn-xs" style="margin-right: 20px;">Like</button>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <p class="text-header text-center"><b>Location Event</b></p>
        </div>

        <div class="col-md-10 col-md-offset-1" style="margin-bottom: 20px; margin-top: 20px;">
          <div class="col-md-6">
            <img src="https://placehold.it/800x600" alt="" class="" height="420">
          </div>
          <div class="col-md-6">
            </br>
            </br>
            <p class="text-detail font-orange"><b>Location Ipsum is sumply dummy text</b></p>
            </br>
            </br>
            <p class="">Location Ipsum is sumply dummy text <br> printing and typesetting industry</p>
            </br>
            </br>
            </br>
            </br>
            </br>
            <button class="btn btn-orange col-md-8"> Get Direction</button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <p class="text-header text-center"><b>Information Organizer</b></p>
        </div>

        <div class="col-md-10 col-md-offset-1" style="margin-bottom: 20px; margin-top: 20px;">
          <div class="col-md-4">
            <img src="https://placehold.it/800x600" height="270">
          </div>
          <div class="col-md-4">
            </br>
            <p class="text-detail"><b>Organizer Name</b></p>
            <p class="">View Organizer Profile</p>
            </br>
            <p class="text-detail"><b>Contact the Organizer</b></p>
            <p class="">info@takeinconsulting.com</p>
            </br>
            <p class="">
              <!-- <a href="#" class="icon-social"> -->
              <span class="fa-stack font-orange">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span> Fackbook page
              <!-- </a> -->
            </p>
            <p class="">
              <!-- <a href="#" class="icon-social"> -->
              <span class="fa-stack font-orange">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                  </span> Youtube. Channel
              <!-- </a> -->
            </p>

          </div>
          <div class="col-md-4">
            </br>
            <button class="btn btn-default col-md-8" style="margin-bottom: 20px;"> 2 upcoming events </button>
            <button class="btn btn-default col-md-8"> 5 past events </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <p class="text-header text-center"><b>Tickets</b></p>
        </div>

        <div class="col-md-10 col-md-offset-1" style="margin-bottom: 20px; margin-top: 20px;">
          <table class="table vat">
            <tr>
              <td width="45%">
                <span class="text-detail font-orange"><b>Early Bird</b></span>
                <p class="text-detail td-small"><b>Sale unit 10 August 2016 18:00</b></p>
              </td>
              <td>
              </td>
              <td class="text-right">
                <b><span class="font-gray">$1000.00</span> &nbsp;&nbsp;<span class="font-pink">Sold out</span><b>
                </td>
              </tr>
              <tr>
                <td width="45%">
                  <span class="text-detail font-orange"><b>General</b></span>
                <p class="text-detail td-small"><b>Vinly Banners With Its Differrent Types Kids And Appications</b></p>
              </td>
              <td class="text-left">
                <b><span class="font-pink">Sold out</span><b>
                </td>
                <td class="text-right">
                  <b>
                    <span class="font-pulper">$1000.00&nbsp;&nbsp; x  </span>
                    <select class="btn-white btn">
                      <option value="volvo">2</option>
                    </select>
                  <b>
                </td>
              </tr>
              <tr>
                <td width="45%">
                  <span class="text-detail font-orange"><b>VIP</b></span>
              </td>
              <td class="text-left">
                <b><span class="font-pink">Sold out</span><b>
                </td>
                <td class="text-right">
                  <b>
                    <span class="font-pulper">$1000.00&nbsp;&nbsp; x  </span>
                    <select class="btn-white btn">
                      <option value="volvo">2</option>
                    </select>
                  <b>
                </td>
              </tr>
              <tr>
                <td width="45%">
                  <span class="text-detail font-orange"><b>VVIP</span>
                  <p class="text-detail td-small"><b>Sale unit 10 August 2016 18:00</b></p>
              </td>
              <td>
              </td>
              <td class="text-right">
                <b><span class="font-gray">$1000.00</span> &nbsp;&nbsp;<span class="font-pink">Sold out</span><b>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-bottom: 20px; margin-top: 20px;">
            <div class="col-md-6">
              <p class="text-detail"><b>Haveing Trouble buying tickets?</p>
              <p class="text-detail td-small">Call: 088-000-0000 (10.00-18.00)</p>
              <p class="text-detail td-small">Email: Contact@eventsaurus.com</p>
              <p class="text-detail td-small">Line: @eventsaurus</p>
            </div>
            <div class="col-md-6 ">
              <button class="btn pull-ri btn-default col-md-5">Buy Tickets</button>
            </div>
          </div>
        </div>
      </div>

      <p class="text-center font-orange text-header"><b>Upcoming Events</b></p>
                <hr class="hr-border">
                <div class="row">
                  <div class="col-md-4">
                    <div class="event-box">
                      <figure>
                        <img src="public/images/event/event.jpg" alt="">
                      </figure>
                      <div class="event-detail">
                        <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                        <div class="event-detail-group">
                          <div class="left">
                            <p class="date">
                              <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                            </p>
                            <p class="location">
                              <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                            </p>
                          </div>
                          <div class="right">
                            <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="event-box">
                      <figure>
                        <img src="public/images/event/event.jpg" alt="">
                      </figure>
                      <div class="event-detail">
                        <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                        <div class="event-detail-group">
                          <div class="left">
                            <p class="date">
                              <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                            </p>
                            <p class="location">
                              <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                            </p>
                          </div>
                          <div class="right">
                            <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="event-box">
                      <figure>
                        <img src="public/images/event/event.jpg" alt="">
                      </figure>
                      <div class="event-detail">
                        <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                        <div class="event-detail-group">
                          <div class="left">
                            <p class="date">
                              <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                            </p>
                            <p class="location">
                              <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                            </p>
                          </div>
                          <div class="right">
                            <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
</section>
<footerweb></footerweb>
