@import "variable";

.home-upcoming-event{
  background: #1F0894; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1F0894, #0F5D99);
  background: -o-linear-gradient(#1F0894, #0F5D99);
  background: -moz-linear-gradient(#1F0894, #0F5D99);
  background: linear-gradient(#1F0894, #0F5D99);
}

.home-catagory{
  background: #5988b8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5988b8, #50b4ba);
  background: -o-linear-gradient(#5988b8, #50b4ba);
  background: -moz-linear-gradient(#5988b8, #50b4ba);
  background: linear-gradient(#5988b8, #50b4ba);
}
.home-get-app{
  background-image: url('../images/app/app.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  .get-app-content{
    margin-top: 180px;
    color: $white-color;
    text-align: center;
    figure{
      width: 30%;
      margin: 0 auto;
      img{
        width: 100%;
      }
    }
  }
  .group-btn{
    display: block;
    text-align: center;
    button{
      font-size: 16px;
      font-weight: bold;
      margin: 5px;
      &.btn-purple{
        border-radius: 40px;
        padding: 10px 25px;
        .fa{
          vertical-align: middle;
          margin-right: 8px;
        }
      }
      &:hover,&:focus{
        background-color: rgba($purple-color,0.9);
        color: $white-color;
      }
    }
  }
}

.home-upcoming-event,
.home-catagory{
  padding: 50px 0;
}

.home-upcoming-event{
  .btn-ghost{
    display: block;
    margin: 0 auto;
  }
}

.event-box{
  position: relative;
  overflow:hidden;
  margin-bottom: 30px;
  &:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    figure{
      img{
        transform: scale(1.2,1.2);
      }
    }
  }
  figure{
    img{
      width: 100%;
      transition: all 0.5s;
    }
  }
  .event-detail{
    background-color: $white-color;
    padding: 30px 20px 15px;
    .event-detail-name{
      font-weight: bold;
      font-size: 14px;
    }
    .event-detail-group{
      display: table;
      width: 100%;
      .left,.right{
        display: inline-table;
      }
      .left{
        p{
          font-size: 10px;
          &.location{
            .fa{
              font-size: 20px;
              color: $orange-color;
              margin-right: 5px;
            }
          }
        }
      }
      .right{
        vertical-align: middle;
        width: 30%;
        float: right;
        padding-top: 10px;
        button{
          border-radius: 5px;
          font-size: 12px;
          padding: 7px 10px;
          margin: 0;
          transition: all 0.5s;
          &:hover{
            margin-top: 5px;
            background-color: rgba($orange-color,0.3);
            color: $white-color;
          }
        }
      }
    }
  }
}

.catagory-box{
  display: table;
  .catagory-menu,.catagory-detail{
    display: inline-table;
  }
  .catagory-menu{
    background-image: url('../images/catagory/catagory-menu-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 375px;
    height: 510px;
    .nav-tabs{
      margin: 80px 0 50px;
      border-bottom: none;
      li{
        width: 100%;
        a{
          border-radius: 0;
          border: none;
          margin: 0;
          color: $white-color;
          text-align: right;
          font-size: 2rem;
          padding: 10px 25px;
          transition: all 0.5s;
        }
        &.active,&:hover{
          a{
            background-color: $orange-color;
          }
        }
      }
    }
    .btn-default{
      float: right;
      margin-right: 20px;
    }
  }
  .catagory-detail{
    background-color: $white-color;
    width: calc(100% - 375px);
    min-height: 510px;
    vertical-align: top;
    .tab-pane{
      &.active{
        height: 510px;
      }
    }
    .thumbnail{
      position: relative;
      padding: 0;
      margin: 0;
      border: 0;
      width: 252px;
      display: inline-block;
      .caption{
        display: none;
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.7);
        color: $white-color;
        width: 100%;
        padding: 5px 20px;
        transition: all 1s;
        p{
          font-size: 10px;
          &.location{
            .fa{
              font-size: 20px;
              color: $orange-color;
              margin-right: 5px;
            }
          }
        }
      }
      &:hover{
        .caption{
          display: block;
        }
      }
    }
  }
}
