/* Icon */
.icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: 5px;

  &.icon-phone{
    width: 20px;
    height: 20px;
    background-image: url('../images/icon/icon-phone.png');
    background-size: 15px 20px;
  }
  &.icon-email{
    width: 25px;
    height: 15px;
    background-image: url('../images/icon/icon-email.png');
    background-size: 20px 15px;
  }
  &.icon-calendar{
    width: 15px;
    height: 16px;
    background-image: url('../images/icon/icon-calendar.png');
    background-size: 100%;
    vertical-align: bottom;
  }
}
