@import "variable";



/* BG */
.bg-top{
  background-image: url('../images/bg/slide-bg.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 400px;
}

/* icon */
.input-group-addon{
  padding: 5px 12px;
  background-color: #FF8900;
  border: none;
  border-radius: 0;
}
.input-group-btn{
  .btn-white{
    min-width: 136px;
    text-align: left;
    .caret{
      color: $orange-color;
      float: right;
      margin-top: 5px;
      border-top: 7px dashed;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
    }
  }
  .dropdown-menu{
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    min-width: 100px;
    li{
      a{
        padding: 5px 20px;
      }
      &:hover{
        a{
          background-color: $orange-color;
          color: $white-color;
        }
      }
    }
  }
}

/* Slider */
.carousel{
  .carousel-inner{
    .item{
      .caption{
        color: $white-color;
        font-size: 2rem;
        padding: 20px;
        em{
          font-size: 1.8em;
        }
      }
      .caption-image{
        img{
          width: 75%;
        }
      }
    }
  }
  .carousel-indicators{
    li{
      width: 13px;
      height: 13px;
      background-color: $white-color;
      border: none;
      margin-right: 5px;
      &.active{
        width: 13px;
        height: 13px;
        background-color: $blue-color;
        border: none;
      }
      &:last-child{
        margin: 0;
      }
    }
    @media screen and (min-width: 768px){
      bottom: -40px;
    }
  }
}

/* Navbar */
nav{
  .container{
    @media (min-width: 1200px){
      width: 1190px;
    }
  }
}
.navbar{
  padding: 20px 50px 0 50px;
  &.navbar-default{
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: $white-color;
    .navbar-nav{
      margin-top: 20px;
      li{
        a{
          color: $white-color;
          padding: 5px;
          border: 1px solid transparent;
          background-color: transparent;
        }
        &:hover, &.active{
          a{
            background: none;
            border: 1px solid $white-color;
            border-radius: 5px;
            color: $white-color;
            &:hover{
              background: none;
              color: $white-color;
            }
          }
        }
        &:nth-child(4),&:last-child{
          a{
            &:hover{
              border: 1px solid transparent;
            }
          }
        }
        &.open{
          & > a{
            &:hover,&:focus{
              background-color: rgba(0, 0, 0, 0.5);
              border: 1px solid transparent;
              box-shadow: 0 2px 5px #111;
              color: $white-color;
            }
          }
          .dropdown-menu{
            border-radius: 0;
            padding: 0;
            li{
              margin: 0;
              border-bottom: 1px solid $light-gray;
              a{
                color: $gray-color;
              }
              &:hover{
                a{
                  background-color: $orange-color;
                  border-radius: 0;
                  border: 1px solid transparent;
                  color: $white-color;
                }
              }
            }
          }
        }
        &.user{
          width: 150px;
          a{
            span{
              &.fa-stack{
                .fa-inverse{
                  color: $gray-color;
                }
              }
            }
            &:focus{
              width: 150px;
            }
          }
          .dropdown-menu{
            min-width: 150px;
            li{
              a{
                padding: 8px 12px;
              }
            }
          }
        }
      }
    }
  }
  .navbar-header{
    .navbar-brand{
      padding: 0 15px;
    }
  }
}
.navbar-collapse{
  .navbar-form{
    margin-top: 20px;
    .input-group{
      input[type=text]{
        border-radius: 0;
        border: 0;
        background-color: rgba($white-color,0.5);
        color: $white-color;
        height: 35px;
      }
      @include placeholder(){
        color: $white-color;
        opacity: 1;
      }
    }
    .input-group-btn{
      &:last-child{
        .btn{
          margin-left: 0;
        }
      }
      &.open{
        .dropdown-menu-right{
          right: 48px;
        }
      }
      .fa-search{
        font-size: 19px;
      }
    }
  }
}
.navbar-nav{
  li{
    margin-left: 12px;
    a{
      &:focus{

      }
    }

  }
}


/* Footer */
footer{
  .col-footer{
    display: inline-table;
    vertical-align: top;
    border-right: 1px solid $light-gray;
    width: 19%;
    min-height: 310px;
    font-size: 14px;
    &.no-border{
      border-right: none;
    }
  }
  .menu-footer{
    padding: 50px 0;
    .menu-footer-list{
      margin: 0;
      padding: 0;
      padding: 0 15px;
      list-style: none;
      li{
        padding-bottom: 20px;
        &.menu-footer-head{
          color: $orange-color;
          font-weight: bold;
          border-bottom: 1px solid $light-gray;
          padding-bottom: 5px;
          margin-bottom: 30px;
        }
        a{
          color: $main-text-color;
        }
        .highlight{
          color: $orange-color;
          font-weight: bold;
          font-size: 14px;
        }
        &:last-child{
          .icon-social{
            display: inline-block;
            .fa-stack{
              font-size: 22px;
              .fa-circle{
                color: #999;
                transition: color 0.3s;
              }
            }
            &:hover{
              .fa-circle{
                color: $orange-color;
              }
            }
          }
        }
      }
    }
  }

  .copyright{
    background-color: #310E9B;
    color: $white-color;
    padding: 20px 0;
    text-align: center;
  }
}
