.modal{
  .modal-dialog{
    @media screen and (min-width: 768px){
      width: 500px;
      margin: 10% auto 30px;
    }
  }
  .modal-header,
  .modal-body,
  .modal-footer{
    padding: 0;
  }
  .modal-content{
    padding: 30px 50px 50px;
    box-shadow: none;
  }
  .modal-header{
    text-align: center;
    border-bottom: none;
    margin-bottom: 20px;
  }
  .modal-body{
    margin: 0;
    .group-form{
      position: relative;
      margin-bottom: 20px;
      .fa{
        position: absolute;
        top: 12px;
        left: 10px;
      }
      input[type=text],input[type=password],input[type=email]{
        padding-left: 30px;
        &:focus{
          & + .fa{
            color: $orange-color;
          }
        }
      }
      .forgot-pass{
        display: block;
        text-align: right;
        text-decoration: none;
        color: $gray-color;
        font-size: 14px;
        margin-top: 5px;
        &:hover{
          color: $orange-color;
        }
      }
    }
    .form-group{
      text-align: center;
      color: $orange-color;
      label{
        font-weight: 100;
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
  .modal-footer{
    border-top: none;
    text-align: center;
    .line{
      color: $gray-color;
      hr{
        margin: 15px 0;
        border-top: 2px solid #ccc;
        border-radius: 100%;
        width: 10%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    button{
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 40px;
    }
  }
  .signup{
    text-align: center;
    margin-top: 3px;
  }
  &#forgotPassword{
    .modal-header{
      p{
        padding: 15px 0 10px;
        margin: 0;
        font-size: 12px;
      }
    }
  }
}
