header{
  .content-header{
    margin-top: 5%;
    figure{
      width: 100px;
      height: 100px;
    }
    h1{
      font-size: 3em;
      font-weight: bold;
    }
  }
}


.search-filter{
  background-color: #181F55;
  padding: 20px 0;
  h4{
    color: $white-color;
  }
}
