.catagory-box {
  display: table; }
  .catagory-box .catagory-menu, .catagory-box .catagory-detail {
    display: inline-table; }
  .catagory-box .catagory-menu {
    background-image: url("../assets/images/catagory/catagory-menu-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 375px;
    height: 510px; }
    .catagory-box .catagory-menu .nav-tabs {
      margin: 80px 0 50px;
      border-bottom: none; }
      .catagory-box .catagory-menu .nav-tabs li {
        width: 100%; }
        .catagory-box .catagory-menu .nav-tabs li a {
          border-radius: 0;
          border: none;
          margin: 0;
          color: #fff;
          text-align: right;
          font-size: 2rem;
          padding: 10px 25px;
          transition: all 0.5s; }
        .catagory-box .catagory-menu .nav-tabs li.active a, .catagory-box .catagory-menu .nav-tabs li:hover a {
          background-color: #ff8900; }
    .catagory-box .catagory-menu .btn-default {
      float: right;
      margin-right: 20px; }
  .catagory-box .catagory-detail {
    background-color: #fff;
    width: calc(100% - 375px);
    min-height: 510px;
    vertical-align: top; }
    .catagory-box .catagory-detail .tab-pane.active {
      height: 510px; }
    .catagory-box .catagory-detail .thumbnail {
      position: relative;
      padding: 0;
      margin: 0;
      border: 0;
      width: 252px;
      display: inline-block; }
      .catagory-box .catagory-detail .thumbnail .caption {
        display: none;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        width: 100%;
        padding: 5px 20px;
        transition: all 1s; }
        .catagory-box .catagory-detail .thumbnail .caption p {
          font-size: 10px; }
          .catagory-box .catagory-detail .thumbnail .caption p.location .fa {
            font-size: 20px;
            color: #ff8900;
            margin-right: 5px; }
      .catagory-box .catagory-detail .thumbnail:hover .caption {
        display: block; }
