<section class="home-catagory">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-header">
          <figure>
            <img src="assets/images/logo/logo-small.png" alt="">
          </figure>
          <h3>Event by category</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 catagory-box">
        <div class="catagory-menu">
          <ul class="nav nav-tabs" role="tablist">
            <li ng-repeat="(key, category) in categories track by $index" ng-class="{'active': $index == 0}">
              <a href="#{{ key }}" aria-controls="{{ key }}" role="tab" data-toggle="tab">{{ key }}</a>
            </li>
          </ul>
          <button type="button" name="button" class="btn btn-default">SEE MORE</button>
        </div>
        <div class="catagory-detail tab-content">
          <div ng-repeat="(key, category) in categories track by $index"
               ng-class="{'in': $index == 0, 'active': $index == 0}"
               role="tabpanel" class="tab-pane fade"
               id="{{ key }}"
          >
            <a ng-repeat="value in category track by $index" href="#" class="thumbnail" style="margin-right: 3px;">
              <img src="{{ value.image }}" style="height: 252px; width: 252px;" alt="">
              <div class="caption">
                <h5>{{ value.subject }}</h5>
                <p class="date">
                  <i class="icon icon-calendar"></i>
                  Date/Time: {{ value.date_time }}
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i>
                  Place: {{ value.place_address }}
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
