.panel-body {
  .bg {
    background: url(https://wp.quintcareers.com/wp-content/uploads/2015/10/job_hunting_blog.png) no-repeat !important;
    background-position: center;
    background-size: cover;
    -webkit-backgroud-size: cover;
    -moz-background-size: cover;
    width: 100%;
  }
}

.text-big{
  font-size: 90px;
}
