<!-- <headerweb></headerweb> -->
<!-- <div class="row">
  <div class="col-md-12">
    <div class"panel-bg-img">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="bg">
            <h1 class="text-center">Free Philippine Real Estate Ads Forums And Classifieds</h1>
            <h4 class="text-center">Lorem Ipsum is simply dummy text</h4>
            <div class"row">
              <div class="col-md-9 col-md-offset-2">
                <div class="row">
                  <div class="col-md-4">
                    26
                  </div>
                  <div class="col-md-4">
                    Nov
                  </div>
                  <div class="col-md-4">
                    2017
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="text-center">4 weeks 8 days 12 hours 45 min 16 sec</h4>
        <h5 class="text-center">06:00 - 23.30 Ztudio Live Hall Bangkok Thailand</h5>
        <button class="btn btn-primary">Buy Tickets</button>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="text-center">HOLDING TICKETS</h4>
        <h1 class="text-center">15:00</h1>
        <p>
          Please complete registration within 15 minutes. After 15 minutes, the reservation we are holding will be released to others.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center">Orders #00001</h1>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Type Ticket</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Genaral</td>
                <td class="text-center">1,000.00</td>
                <td class="text-center">2</td>
                <td class="text-center">2,000.00</td>
              </tr>
              <tr>
                <td>Genaral</td>
                <td class="text-center">1,000.00</td>
                <td class="text-center">2</td>
                <td class="text-center">2,000.00</td>
              </tr>
              <tr>
                <td>Genaral</td>
                <td class="text-center">1,000.00</td>
                <td class="text-center">2</td>
                <td class="text-center">2,000.00</td>
              </tr>
            </tbody>
          </table>
          <p> Total 1,500.00 </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center">TICKET BUYER INFORMATION</h1>
      </div>
      <form>
        <div class="form-group">
          <label class="sr-only">First Name</label>
          <input type="text" class="form-control" id="name" placeholder="First Name">
        </div>
        <div class="form-group">
          <label class="sr-only">Last Name</label>
          <input type="text" class="form-control" id="name" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label class="sr-only">Mobile Number</label>
          <input type="text" class="form-control" id="name" placeholder="Mobile Number">
        </div>
        <div class="form-group">
          <label class="sr-only">Email</label>
          <input type="email" class="form-control" id="name" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="sr-only">Address</label>
          <input type="text" class="form-control" id="name" placeholder="Address">
        </div>
        <div class="form-group">
          <label>Birthdate</label>
          <input type="date" class="form-control" id="name" placeholder="Birthdate">
        </div>
        <div class="form-group">
          <label for="gender">Gender *</label>
        </div>
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="genderradio" id="r1" value="1"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="genderradio" id="r1" value="2"> Female
          </label>
        </div>
        <div class="form-group">
          <label class="sr-only">Marital Status</label>
          <input type="text" class="form-control" id="name" placeholder="Marital Status">
        </div>
        <div class="form-group">
          <label class="sr-only">Education</label>
          <input type="text" class="form-control" id="name" placeholder="Education">
        </div>
        <div class="form-group">
          <label class="sr-only">Occupation</label>
          <input type="text" class="form-control" id="name" placeholder="Occupation">
        </div>
        <div class="form-group">
          <label class="sr-only">city</label>
          <input type="text" class="form-control" id="name" placeholder="city">
        </div>
        <div class="form-group">
          <label class="sr-only">Postal Code</label>
          <input type="text" class="form-control" id="name" placeholder="Postal Code">
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center">Payment</h1>
        <button class="btn btn-primary">Credit Card</button>
        <button class="btn btn-primary">Bank Transfer</button>
        <h1 class="text-center">Order #ESOOOO11</h1>
        <h1 class="text-center">Total Order 1,000.00</h1>
        <hr>
      </div>
    </div>
  </div>
</div> -->
<navbar-auth></navbar-auth>
<section class="event-detail">
  <div class="container-fulid">
      <div id="container">
        <img id="image" src="https://placehold.it/1240x600" alt="" class="" height="500">
        <p id="text1">
          Free Philippine Real Estate Ads
        </p>
        <p id="text2">
          Forums And Classifields
        </p>
        <p id="text3">
          Lorem ipsum is simply dummy text
        </p>
        <div class="container">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <div class="panel panel-default grad" id="panel-day">
                <div class="panel-body">
                  <p class="text-center">26</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default grad" id="panel-month">
                <div class="panel-body">
                  <p class="text-center">NOV</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default grad" id="panel-year">
                <div class="panel-body">
                  <p class="text-center">2016</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
  </div>
  </div>
  </br>
  </br>
  </br>
    <div class="container">
      </br>
      <div class="panel panel-default" style="border-color: #303f9f;">
        <div class="panel-heading-event">
          <p class="text-center">
            <b class="text-header">4</b>&nbsp;&nbsp;
            <b class="text-info">Weeks</b>&nbsp;&nbsp;
            <b class="text-header">8</b>&nbsp;&nbsp;
            <b class="text-info">Days</b>&nbsp;&nbsp;
            <b class="text-header">12</b>&nbsp;&nbsp;
            <b class="text-info">Hours</b>&nbsp;&nbsp;
            <b class="text-header">46</b>&nbsp;&nbsp;
            <b class="text-info">Min</b>&nbsp;&nbsp;
            <b class="text-header">16</b>&nbsp;&nbsp;
            <b class="text-info">Sec</b>&nbsp;&nbsp;
          </p>
          <p class="text-center">
            <span class="glyphicon glyphicon-calendar font-orange "></span> <span class="text-info">08.00 - 23.00</span>&nbsp;&nbsp;
            <span class="glyphicon glyphicon-map-marker font-orange "></span> <span class="text-info">Ztudio Live Hall Bangkok Thailland</span>&nbsp;&nbsp;
          </p>
          <p class="text-right" style="margin-top: -50px; margin-right: 20px;">
            <button class="btn btn-default" >&nbsp; Buy Tickets &nbsp;</button>
          </p>
        </div>
        <div class="panel-body">
          <div class="row">
            <p class="text-detail text-center font-orange"><b>HOLDING TICKETS</b></p>
            <p class="text-big font-orange text-center">15:00</p>
            <p class="text-detail text-center">Please complate registration within 15 minutes. After 15 minutes, </br>
              the reservation we are holding will be released to others.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <p class="text-header text-center"><b>ORDER #000011</b></p>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
            <table class="table tabletable-condensed">
            <thead>
              <th width="20%" class="font-orange">Type Ticket</th>
              <th width="40%" class="text-right font-orange">Price</th>
              <th width="20%" class="text-right font-orange">Quantity</th>
              <th width="20%" class="text-right font-orange">Subtotal</th>
            </thead>
            <tbody class="font-bold">
              <tr>
                <td>
                <b>General</b>
                </td>
                <td class="text-right">1,500.00</td>
                <td class="text-right"><b>1</b></td>
                <td class="text-right">฿1,500.00</td>
              </tr>
              <tr style="border-top: 4px solid #fff;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr style="border-top: 4px solid #fff;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr style="border-top: 4px solid #fff;">
                <td>
                <b></b>
                </td>
                <td class="text-right"></td>
                <td class="text-right font-orange"><b>Total</b></td>
                <td class="text-right font-orange"><b>฿1,500.00</></td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <p class="text-header text-center"><b>TICKET BUYER INFORMATION</b></p>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" width="50%" id="first_name" placeholder="First name">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" width="50%" id="last_name" placeholder="Last name">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Mobile number *">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-11" style="padding-right: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Mobile number *">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-3" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Brithdate (DD) *">
                </div>
              </div>
              <div class="col-md-1" style="font-size: 30px;">
                <span class="font-gray"><b>&nbsp; / </b></span>
              </div>
              <div class="col-md-3" style="padding-right: 0px; padding-left: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Brithdate (MM) *">
                </div>
              </div>
              <div class="col-md-1" style="font-size: 30px;">
                <span class="font-gray"><b>&nbsp; / </b></span>
              </div>
              <div class="col-md-3" style="padding-right: 0px; padding-left: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Brithdate (YY) *">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-bottom: 20px; margin-top: 10px;" >
              <label class="radio-inline" style="margin-right: 50px;">
                Gender *
              </label>
              <label class="radio-inline" style="margin-right: 50px;">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Male
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Female
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-11" style="padding-right: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Marital Status">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-11" style="padding-right: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Education">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-11" style="padding-right: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Occupation">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1"  style="margin-bottom: 70px;" >
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="City">
                </div>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Potal Code">
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>
          <div class="row">
            <p class="text-header text-center"><b>TICKET-1 Gernaral</b></p>
          </div>
          <br>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-bottom: 15px;">
              <div class="col-md-12">
                <label class="checkbox-inline font-orange">
                    <input type="checkbox" value="option1"><b>Use Ticket Buyer's Information</b>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" width="50%" id="first_name" placeholder="First name">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" width="50%" id="last_name" placeholder="Last name">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Mobile number *">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-11" style="padding-right: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Mobile number *">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-3" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Brithdate (DD) *">
                </div>
              </div>
              <div class="col-md-1" style="font-size: 30px;">
                <span class="font-gray"><b>&nbsp; / </b></span>
              </div>
              <div class="col-md-3" style="padding-right: 0px; padding-left: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Brithdate (MM) *">
                </div>
              </div>
              <div class="col-md-1" style="font-size: 30px;">
                <span class="font-gray"><b>&nbsp; / </b></span>
              </div>
              <div class="col-md-3" style="padding-right: 0px; padding-left: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Brithdate (YY) *">
                </div>
              </div>
              <div class="col-md-1">
                <span class="text-header font-orange"><b> * </b></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-bottom: 20px; margin-top: 10px;" >
              <label class="radio-inline" style="margin-right: 50px;">
                Gender *
              </label>
              <label class="radio-inline" style="margin-right: 50px;">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Male
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Female
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-11" style="padding-right: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Marital Status">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-11" style="padding-right: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Education">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-11" style="padding-right: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Occupation">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1"  style="margin-bottom: 70px;" >
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="City">
                </div>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Potal Code">
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <p class="text-header text-center"><b>Payment</b></p>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-5 col-md-offset-1" >
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-7">
                    <img src="https://placehold.it/200x120" height="100px;" >
                  </div>
                  <br>
                  <br>
                  <p class="text-detail font-gray"><b>Credit Card</b></p>
                </div>
              </div>
            </div>
            <div class="col-md-5" >
              <div class="panel border-orange">
                <div class="panel-body">
                  <div class="col-md-7">
                    <img src="https://placehold.it/200x120" height="100px;" >
                  </div>
                  <br>
                  <br>
                  <p class="text-detail font-orange"><b>Bank Transfer</b></p>
                </div>
              </div>
              <br>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 col-md-offset-1" >
              <div class="col-md-12" >
                <p class="text-header text-left">Order</p>
                <p class="text-header text-left">Total Order</p>
              </div>
            </div>
            <div class="col-md-5" >
              <div class="col-md-12" >
                <p class="text-header font-pulper text-right">#ES000011</p>
                <p class="text-header font-pulper text-right">฿1,000.00</p>
              </div>
            </div>
            <div class="col-md-1" >
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <hr class="hr-border">
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-3">
                    <img src="https://placehold.it/200x120" height="100px;" >
                  </div>
                  <br>
                  <p class="text-detail font-black"><b>Kasikornbank Public Company Limited (TH)</b></p>
                  <p class="text-detail font-black"><b>บจก. เทคอิท คอลซัทติ้ง (Saveing)</b></p>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <p class="text-detail text-center font-black"><b>Transfer Instruction (฿250.00)</b></p>
              <p class="text-detail text-center font-black">
                Please transfer <span class="font-orange">฿1,000.00</span> before
                <span class="font-orange">21 November 2016 10:08</span>
              </p>
              <p class="text-detail text-center font-black">to the black account below.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" >
              <div class="col-md-12" >
                <div class="panel panel-default">
                  <div class="panel-heading" style="background-color: #ccc;">
                    <b>Purcharing Policy</b>
                  </div>
                  <div class="panel-body">
                    <div class="col-md-10 col-md-offset-1" >
                      <p class="text-center">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book. It has survived not only five centuries, but
                        also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                      <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-bottom: 15px;">
              <div class="col-md-12">
                <label class="checkbox-inline font-orange" style="font-size: 14px;">
                    <input type="checkbox" value="option1" ng-model="agree">
                    <b>I agree to Eventsarus's Website Terms, Privacy, Licensing <br>
                      Terms and to receive emails that I can opt out of any time .
                    </b>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-3" style="margin-bottom: 15px;">
              <div class="col-md-3">
                  <button type="button" class="btn btn-warning col-md-12" data-toggle="modal"
                  data-target="#myModal" data-backdrop="static" data-keyboard="false"
                  ng-disabled="!agree"
                >
                  Confirm Payment
                </button>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-3">
                <button class="btn btn-orange col-md-12"> Cancel </button>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                     <h2 class="modal-title">PAYMENT SUCCESSFUL</h2>

                  </div>
                  <div class="modal-body text-center">
                    <i class="fa fa-check-circle-o fa-5x" style="font-size:200px; color:#ff8900;"></i><br/>
                    <h3>THANK YOU</h3>
                    <h3>Your payment was  successful.</h3><br/><br/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">View my ticket</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<footerweb></footerweb>
