/* Footer */
footer .col-footer {
  display: inline-table;
  vertical-align: top;
  border-right: 1px solid #c8c8c8;
  width: 19%;
  min-height: 310px;
  font-size: 14px; }
  footer .col-footer.no-border {
    border-right: none; }
footer .menu-footer {
  padding: 50px 0; }
  footer .menu-footer .menu-footer-list {
    margin: 0;
    padding: 0;
    padding: 0 15px;
    list-style: none; }
    footer .menu-footer .menu-footer-list li {
      padding-bottom: 20px; }
      footer .menu-footer .menu-footer-list li.menu-footer-head {
        color: #ff8900;
        font-weight: bold;
        border-bottom: 1px solid #c8c8c8;
        padding-bottom: 5px;
        margin-bottom: 30px; }
      footer .menu-footer .menu-footer-list li a {
        color: #151414; }
      footer .menu-footer .menu-footer-list li .highlight {
        color: #ff8900;
        font-weight: bold;
        font-size: 14px; }
      footer .menu-footer .menu-footer-list li:last-child .icon-social {
        display: inline-block; }
        footer .menu-footer .menu-footer-list li:last-child .icon-social .fa-stack {
          font-size: 22px; }
          footer .menu-footer .menu-footer-list li:last-child .icon-social .fa-stack .fa-circle {
            color: #999;
            transition: color 0.3s; }
        footer .menu-footer .menu-footer-list li:last-child .icon-social:hover .fa-circle {
          color: #ff8900; }
footer .copyright {
  background-color: #310E9B;
  color: #fff;
  padding: 20px 0;
  text-align: center; }
