<footer>
  <div class="container">
    <div class="menu-footer">
      <div class="row">
        <div class="col-footer">
          <ul class="menu-footer-list">
            <li class="menu-footer-head">Explore Eventsaurus</li>
            <li><a href="#">Upcoming Events</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Organizer List</a></li>
            <li><a href="#">Performer List</a></li>
            <li><a href="#">About Eventsaurus</a></li>
            <li><a href="#">Contact Eventsaurus</a></li>
          </ul>
        </div>
        <div class="col-footer">
          <ul class="menu-footer-list">
            <li class="menu-footer-head">For Ticket Buyer</li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Help &amp; FAQs</a></li>
          </ul>
          <ul class="menu-footer-list">
            <li class="menu-footer-head">For Mobile App</li>
            <li><a href="#">Help &amp; FAQs</a></li>
          </ul>
        </div>
        <div class="col-footer">
          <ul class="menu-footer-list">
            <li class="menu-footer-head">For Organizer</li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Charging Fees</a></li>
            <li><a href="#">Help &amp; FAQs</a></li>
          </ul>
          <ul class="menu-footer-list">
            <li class="menu-footer-head">Press</li>
            <li><a href="#">News</a></li>
          </ul>
        </div>
        <div class="col-footer">
          <ul class="menu-footer-list">
            <li class="menu-footer-head">For Performer</li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Help &amp; FAQs</a></li>
          </ul>
        </div>
        <div class="col-footer no-border">
          <ul class="menu-footer-list">
            <li class="menu-footer-head">Customer Support</li>
            <li>
              Our support team works everyday from 10am - 6pm to answer questions via
            </li>
            <li>
              <p><i class="icon icon-phone"></i> 062-592-2224 (Thai)</p>
              <p><i class="icon icon-email"></i> info@eventsaurus.net</p>
            </li>
            <li>
              <p class="highlight">Get more EventSaurus on:</p>
              <a href="#" class="icon-social">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="icon-social">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="icon-social">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="icon-social">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="copyright">
        Copyright <span class="big">&copy;</span> - TakeIT Consulting Co., Ltd. All Rights Reserves.
      </div>
    </div>
  </div>
</footer>
