<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <h1>Account Setting</h1>
      <div class="form-group">
        <label for="">Username *</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Email *</label>
        <input type="email" class="form-control" id="" placeholder="example@email.com">
      </div>

      <h1>Change Password</h1>
      <div class="form-group">
        <label for="">Password *</label>
        <input type="password" class="form-control" id="" placeholder="">
      </div>

      <h1>Personal Information</h1>
      <div class="form-group">
        <label for="">Title</label>
        <select class="form-control" name="">
          <option>Mr.</option>
          <option>Mrs.</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">First Name</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Mobile Number</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Phone Number</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">ID Card / Passport Number</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Country</label>
        <select class="form-control" name="">
          <option>Thailand</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Personal Website</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>

      <h1>Data Verifications</h1>
      <div class="form-group">
        <label for="" class="sr-only"></label>
        <input type="file" class="form-control" id="" placeholder="">
        <p class="help-block">A copy of personal ID Card has been signed
        </p>
      </div>

      <button type="submit" name="button">SAVE</button>

    </form>
  </div>
</div>
