<headerweb></headerweb>
<!-- Search Filter -->
<section class="search-filter">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h4>Sort Method</h4>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <p>Newest to Oldest</p>
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <p>Oldest to Newest</p>
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <p>Alphabetical</p>
        </label>
      </div>
      <div class="col-md-6">
        <h4>Filter by Category</h4>
        <div class="row">
          <dic class="col-md-4">
            <button type="button" class="btn btn-ghost-min" name="button">Business</button>
          </dic>
          <dic class="col-md-4">
            <button type="button" class="btn btn-ghost-min" name="button">Music & Art</button>
          </dic>
          <dic class="col-md-4">
            <button type="button" class="btn btn-ghost-min" name="button">Education</button>
          </dic>
        </div>
        <div class="filter-pading"></div>
        <div class="row">
          <dic class="col-md-4">
            <button type="button" class="btn btn-ghost-min" name="button">Lifestyle</button>
          </dic>
          <dic class="col-md-4">
            <button type="button" class="btn btn-ghost-min" name="button">Technology</button>
          </dic>
          <dic class="col-md-4">
            <button type="button" class="btn btn-ghost-min" name="button">Other</button>
          </dic>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-upcoming-event">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-box">
          <figure>
            <img src="assets/images/event/event.jpg" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button type="button" name="button" class="btn btn-ghost">SEE MORE</button>
      </div>
    </div>
  </div>
</section>

<footerweb></footerweb>
