$Orange: #ff8900;

.search-filter {
  background-color: #181F55;
  padding: 20px 0;
  h4, p {
    color: #fff;
  }
}

.btn-ghost-min {
  @extend .btn-ghost;
  min-width: 120px;
}

.filter-pading {
  margin-bottom: 20px;
}
