<section class="navbar-auth-bg">
  <nav class="navbar navbar-default"><!-- navbar-fixed-top -->
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="assets/images/logo/logo-top-2.png" alt="">
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-mobile" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="menu-mobile">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="ค้นหา Event ที่คุณสนใจ">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav">
          <li><a href="/upcoming">Upcoming</a></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catagory</a>
            <ul class="dropdown-menu">
              <li><a href="#">Business</a></li>
              <li><a href="#">Music &amp; Art</a></li>
              <li><a href="#">Education</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </li>
          <li><a href="#">Organizer/Performer</a></li>
          <li>
            <label class="switch">
              <input type="checkbox" checked>
              <div class="slider round">
                <span class="th">TH</span>
                <span class="en">EN</span>
              </div>
            </label>
          </li>
          <li>
            <button type="button" class="btn btn-ghost dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User Name
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="/user/profile">Profile</a></li>
              <li><a href="/user/ticket">My Tickets</a></li>
              <li><a href="/">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</section>
