.event-bg{
  // background: #5988b8; /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(#5988b8, #50b4ba);
  // background: -o-linear-gradient(#5988b8, #50b4ba);
  // background: -moz-linear-gradient(#5988b8, #50b4ba);
  // background: linear-gradient(#5988b8, #50b4ba);
  background-image: url("http://cdnqrcgde.s3-eu-west-1.amazonaws.com/wp-content/uploads/2013/11/jpeg.jpg");
}
.panel-bg-img {
  .panel .panel-default .panel-body{
    background: url(https://wp.quintcareers.com/wp-content/uploads/2015/10/job_hunting_blog.png) no-repeat !important;
    background-position: center;
    background-size: cover;
    -webkit-backgroud-size: cover;
    -moz-background-size: cover;
  }
}

.panel-body {
  .bg {
    background: url(https://wp.quintcareers.com/wp-content/uploads/2015/10/job_hunting_blog.png) no-repeat !important;
    background-position: center;
    background-size: cover;
    -webkit-backgroud-size: cover;
    -moz-background-size: cover;
    width: 100%;
  }
}
