<!-- <headerweb></headerweb> -->
<div class="row">
  <div class="col-md-12">
    <div class"panel-bg-img">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="bg">
            <h1 class="text-center">Free Philippine Real Estate Ads Forums And Classifieds</h1>
            <h4 class="text-center">Lorem Ipsum is simply dummy text</h4>
            <div class"row">
              <div class="col-md-9 col-md-offset-2">
                <div class="row">
                  <div class="col-md-4">
                    26
                  </div>
                  <div class="col-md-4">
                    Nov
                  </div>
                  <div class="col-md-4">
                    2017
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="text-center">4 weeks 8 days 12 hours 45 min 16 sec</h4>
        <h5 class="text-center">06:00 - 23.30 Ztudio Live Hall Bangkok Thailand</h5>
        <button class="btn btn-primary">Buy Tickets</button>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
        <h1>Rich Text Generate</h1>
        <h1>Social Button</h1>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center">Location Event</h1>
        <div class="row">
          <div class="col-md-6">
            <p>
              Google Map
            </p>
          </div>
          <div class="col-md-6">
            <h1>Subject</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <button class="btn btn-default">Get Direction</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center">Information Organizer</h1>
        <div class="row">
          <div class="col-md-4">
            <p>
              Images
            </p>
          </div>
          <div class="col-md-4">
            <h1>Organizer Name</h1>
            <h1>View Organizer Profile</h1>
            <h1>Contact the Organizer</h1>
            <h1>info@takeitconsulting.com</h1>
            <h1>Facebook page</h1>
            <h1>Youtube Channel</h1>
            <button class="btn btn-default">Get Direction</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-default">2 Upcoming events</button>
            <button class="btn btn-default">5 past events</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center">Tickets</h1>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Type Ticket</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Genaral</td>
                <td class="text-center">1,000.00</td>
                <td class="text-center">2</td>
                <td class="text-center">2,000.00</td>
              </tr>
              <tr>
                <td>Genaral</td>
                <td class="text-center">1,000.00</td>
                <td class="text-center">2</td>
                <td class="text-center">2,000.00</td>
              </tr>
              <tr>
                <td>Genaral</td>
                <td class="text-center">1,000.00</td>
                <td class="text-center">2</td>
                <td class="text-center">2,000.00</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-6">
              <h2>Having Trouble buying tickets?</h2>
              <p>Call: 081000000000 </p>
              <p>email: 081000000000 </p>
              <p>Line: 081000000000 </p>
            </div>
            <div class="col-md-6">
              <button class="btn btn-default">Buy Tickets</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
