<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <h1>Account Setting</h1>
      <div class="form-group">
        <label for="">Username *</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Email *</label>
        <input type="email" class="form-control" id="" placeholder="example@email.com">
      </div>

      <h1>Change Password</h1>
      <div class="form-group">
        <label for="">Password *</label>
        <input type="password" class="form-control" id="" placeholder="">
      </div>

      <h1>Company Profile (For Accounting)</h1>
      <div class="form-group">
        <label for="">Company Name</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Branch</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">No. Taxpayers</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Business Type</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Website</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>

      <h1>Data Verifications</h1>
      <div class="form-group">
        <label for="" class="sr-only"></label>
        <input type="file" class="form-control" id="" placeholder="">
        <p class="help-block">A copy of personal ID Card has been signed
        </p>
      </div>
      <div class="form-group">
        <label for="" class="sr-only"></label>
        <input type="file" class="form-control" id="" placeholder="">
        <p class="help-block">A copy of personal ID Card has been signed
        </p>
      </div>
      <div class="form-group">
        <label for="" class="sr-only"></label>
        <input type="file" class="form-control" id="" placeholder="">
        <p class="help-block">A copy of personal ID Card has been signed
        </p>
      </div>
      <div class="form-group">
        <label for="" class="sr-only"></label>
        <input type="file" class="form-control" id="" placeholder="">
        <p class="help-block">A copy of personal ID Card has been signed
        </p>
      </div>

      <button type="submit" name="button">SAVE</button>

    </form>
  </div>
</div>
