/* Icon */
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: 5px; }
  .icon.icon-calendar {
    width: 15px;
    height: 16px;
    background-image: url("../assets/images/icon/icon-calendar.png");
    background-size: 100%;
    vertical-align: bottom; }
.ticket-bg{
  background: #5988b8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5988b8, #50b4ba);
  background: -o-linear-gradient(#5988b8, #50b4ba);
  background: -moz-linear-gradient(#5988b8, #50b4ba);
  background: linear-gradient(#5988b8, #50b4ba);
}


.home-upcoming-event {
  background: #1F0894;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1F0894, #0F5D99);
  background: -o-linear-gradient(#1F0894, #0F5D99);
  background: -moz-linear-gradient(#1F0894, #0F5D99);
  background: linear-gradient(#1F0894, #0F5D99); }

.home-catagory {
  background: #5988b8;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5988b8, #50b4ba);
  background: -o-linear-gradient(#5988b8, #50b4ba);
  background: -moz-linear-gradient(#5988b8, #50b4ba);
  background: linear-gradient(#5988b8, #50b4ba); }


.home-upcoming-event,
.home-catagory {
  padding: 50px 0; }

.home-upcoming-event .btn-ghost {
  display: block;
  margin: 0 auto; }

.event-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px; }
  .event-box:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }
    .event-box:hover figure img {
      transform: scale(1.2, 1.2); }
  .event-box figure img {
    width: 100%;
    transition: all 0.5s; }
  .event-box .event-detail {
    background-color: #fff;
    padding: 30px 20px 15px; }
    .event-box .event-detail .event-detail-name {
      font-weight: bold;
      font-size: 14px; }
    .event-box .event-detail .event-detail-group {
      display: table;
      width: 100%; }
      .event-box .event-detail .event-detail-group .left, .event-box .event-detail .event-detail-group .right {
        display: inline-table; }
      .event-box .event-detail .event-detail-group .left p {
        font-size: 10px; }
        .event-box .event-detail .event-detail-group .left p.location .fa {
          font-size: 20px;
          color: #ff8900;
          margin-right: 5px; }
      .event-box .event-detail .event-detail-group .right {
        vertical-align: middle;
        width: 30%;
        float: right;
        padding-top: 10px; }
        .event-box .event-detail .event-detail-group .right button {
          border-radius: 5px;
          font-size: 12px;
          padding: 7px 10px;
          margin: 0;
          transition: all 0.5s; }
          .event-box .event-detail .event-detail-group .right button:hover {
            margin-top: 5px;
            background-color: rgba(255, 137, 0, 0.3);
            color: #fff; }
