<!-- Upcoming Event -->
<section class="home-upcoming-event">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-header">
          <figure>
            <img src="assets/images/logo/logo-small.png" alt="">
          </figure>
          <h3>Upcoming Event</h3>
        </div>
      </div>
      <div class="col-md-4" ng-repeat="event in events track by $index">
        <div class="event-box">
          <figure>
            <img src="{{ event.image }}" alt="">
          </figure>
          <div class="event-detail">
            <p class="event-detail-name">{{ event.subject }}</p>
            <div class="event-detail-group">
              <div class="left">
                <p class="date">
                  <i class="icon icon-calendar"></i>
                  {{ event.date_time }}
                </p>
                <p class="location">
                  <i class="fa fa-map-marker"></i>
                  {{ event.place_address }}
                </p>
              </div>
              <div class="right">
                <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button type="button" name="button" class="btn btn-ghost">SEE MORE</button>
      </div>
    </div>
  </div>
</section>
