$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);
/**
 * App-wide Styles
 */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// Component styles are injected through gulp
/* inject:scss */
@import 'main/main';
@import 'organizer/event/event';
@import 'organizer/profile/profile';
@import 'ticket/event/event';
@import 'ticket/organizer/organizer';
@import 'ticket/payment/payment';
@import 'ticket/ticket-event/ticket-event';
@import 'upcoming/upcoming';
@import 'user/order/order';
@import 'user/userprofile/userprofile';
@import 'user/userticket/userticket';
@import '../components/category/category';
@import '../components/footerweb/footerweb';
@import '../components/get-app/get-app';
@import '../components/headerweb/headerweb';
@import '../components/modal/modal';
@import '../components/navbar-auth/navbar-auth';
@import '../components/upcoming-event/upcoming-event';
/* endinject */
