<headerweb></headerweb>
<section class="tickets">
  <div class="">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="ticket tab-color-tickets active">
          <a href="#home" aria-controls="home" class="" role="tab" data-toggle="tab">
            <b>My Tickets</b>
          </a>
        </li>
        <li role="presentation" class="order tab-color-order">
          <a href="#profile" aria-controls="profile" class='order' role="tab" data-toggle="tab">
            <b>My Order</b>
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="active tab-pane tab-color-tickets-bg" id="home">
          <div class="container" ng-repeat="ticket in tickets track by $index">
            <br>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-5">
                    <img src="{{ ticket.image }}" alt="" class="" height="250">
                  </div>
                  <div class="col-md-7">
                    <p class="text-info"><b>{{ ticket.subject }}</b></p>
                    </br>
                    </br>
                    </br>
                    <p class="font-detail"> <span class="glyphicon glyphicon-calendar font-orange"> </span> {{ ticket.date_time }}</p>
                    <p class="font-detail"><span class="glyphicon glyphicon-time font-orange"> </span> {{ ticket.time }}</p>
                    <p class="font-detail"><span class="glyphicon glyphicon-map-marker font-orange"> </span> {{ ticket.place_address }}</p>
                  </div>
                </div>
                <div ng-show="more">
                  <div ng-repeat="holder in ticket.holders track by $index">
                    <div class="row">
                      <div class="col-md-1">
                      </div>
                      <div class="col-md-5">
                        <p class="font-detail"><span class="font-orange">Name Ticket Holder </span> : {{ holder.name }}</p>
                        <p class="font-detail"><span class="font-orange">Ticket Type </span> : {{ holder.type }}</p>
                        <p class="font-detail"><span class="font-orange">Prices </span> : {{ holder.price }}</p>
                        </br>
                        <p class="font-detail"><span class="font-orange">#ID Ticket </span> : {{ holder.id }}</p>
                      </div>
                      <div class="col-md-5">
                        <div class="col-md-6">
                          <button class="btn btn-warning col-md-12" style="margin-top: 15px;">OPEN IN APP</button>
                          <button class="btn btn-white col-md-12" style="margin-top: 15px;">CANCEL TICKET</button>
                          <button class="btn btn-warning col-md-12" style="margin-top: 15px;">PRINT TICKET</button>
                        </div>
                        <div class="col-md-6">
                          <img src="{{ holder.qr_code }}" alt="" class="" height="135" style="margin-top: 15px;">
                        </div>
                      </div>
                      <div class="col-md-1">
                      </div>
                    </div>
                    <hr class="hr-border"/>
                  </div>
                  <p class="text-center font-detail"><a herf="#" ng-click="more = false">Close Ticket</a></p>
                </div>
                <div ng-hide="more">
                  <hr class="hr-border">
                  <p class="text-center font-detail"><a herf="#" ng-click="more = true">Views Ticket</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-color-order-bg" id="profile">
          <div class="container">
            <br>
            <div class="panel panel-default" ng-repeat="order in orders track by $index">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <p class="font-head-order">Order #{{ order.id }}</p>
                    </br>
                    <p class="font-detail-order font-orange">{{ order.subject }}</p>
                    </br>
                    <p><span class="glyphicon glyphicon-calendar font-orange"> </span> {{ order.date_time}} </p>
                    <p><span class="glyphicon glyphicon-map-marker font-orange"> </span> {{ order.place_address }}</p>
                  </div>
                  <div class="col-md-4" style="padding-right: 0px; padding-left: 0px;">
                    <p class="font-head-order">buyer Information</p>
                    </br>
                    <p class="font-detail-order">Name &nbsp;&nbsp; <span class="font-orange">{{ order.name }}</span></p>
                    </br>
                    <p class="font-detail-order">Email &nbsp;&nbsp; <span class="font-orange">{{ order.email }}</span></p>
                    </br>
                    <p class="font-detail-order">Phone &nbsp;&nbsp; <span class="font-orange">{{ order.phone_number }}</span></p>
                    </br>
                  </div>
                  <div class="col-md-4">
                    <p class="font-head-order">Payment</p>
                    </br>
                    <p class="font-detail-order">Total Price &nbsp;&nbsp; <span class="font-orange">฿{{ order.total_price }}</span></p>
                    </br>
                    <p class="font-detail-order">Payment Via &nbsp;&nbsp; <span class="font-orange">{{ order.payment_via }}</span></p>
                    </br>
                    <p class="font-detail-order">Paid at &nbsp;&nbsp; <span class="font-orange">{{ order.paid_at }}</span></p>
                    </br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <button class="btn btn-orange col-md-3 col-md-offset-3" style="margin-top: 15px; margin-right: 10px;">
                  Print Receipt (For Ticket Free)
                </button>
                    <button class="btn btn-orange col-md-3" style="margin-top: 15px;">
                  Request Full Tax Invoice
                </button>
                  </div>
                </div>
                <hr class="hr-border">
                <div ng-hide="detail">
                  <p class="text-center font-detail">
                    <a herf="#" class="font-orange" ng-click="detail = true">Order Detail</a>
                  </p>
                </div>
                <div ng-show="detail">
                  <p class="text-center font-detail">
                    <a herf="#" ng-click="detail = false">Order Detail</a>
                  </p>
                  <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                      <table class="table tabletable-condensed">
                        <thead>
                          <th width="30%">Type Ticket</th>
                          <th class="text-right">Price</th>
                          <th class="text-right">Quantity</th>
                          <th class="text-right">Subtotal</th>
                        </thead>
                        <tbody class="font-bold">
                          <tr>
                            <td>
                              General
                              <p class="td-small">REF:00145TK</p>
                              <p class="td-small">REF:00145TK</p>
                            </td>
                            <td class="text-right">฿1,000.00</td>
                            <td class="text-right">2</td>
                            <td class="text-right">฿2,000.00</td>
                          </tr>
                          <tr>
                            <td>
                              Service charge
                            </td>
                            <td class="text-right">฿1,000.00</td>
                            <td class="text-right">2</td>
                            <td class="text-right">฿2,000.00</td>
                          </tr>
                          <tr>
                            <td>
                              Ticket Fee
                            </td>
                            <td class="text-right">฿1,000.00</td>
                            <td class="text-right">2</td>
                            <td class="text-right">฿2,000.00</td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table vat">
                        <tbody>
                          <tr>
                            <td width="60%" class="text-right">vat 7% (For Ticket) :</td>
                            <td class="text-right">฿2,000.00</td>
                          </tr>
                          <tr>
                            <td width="60%" class="text-right">vat 7% (For Free) :</td>
                            <td class="text-right">฿2,000.00</td>
                          </tr>
                          <tr>
                            <td width="60%" class="text-right"><b>Order total :</b></td>
                            <td class="text-right">฿2,000.00</td>
                          </tr>
                          <tr>
                            <td width="60%" class="text-right">Credit Card Fee (VAT 7% Included) </td>
                            <td class="text-right">฿2,000.00</td>
                          </tr>
                          <tr>
                            <td width="60%" class="text-right"><b>Grand total</b></td>
                            <td class="text-right">฿2,000.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-1">
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footerweb></footerweb>
