.tickets {
  margin-top: -15px;
  /*background-color: #310e9b;*/
}

.text-header {
  color: #ff8900;
  font-size: 28px;
}

.text-info {
  color: #ff8900;
  font-size: 24px;
}

.font-orange {
  color: #ff8900;
}

.alert-danger {
  color: #f5f5f5;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.font-black {
  color: black;
}

.font-detail {
  font-size: 19px;
}

.btn-orange {
  @extend .btn;
  color: #ff8900 !important;
  padding: 10px 20px 10px 20px !important;
  border: solid #ff8900 2px !important;
  // text-decoration: none;
  background: #fff;
  border-radius: 6px !important;
  -webkit-border-radius: 6 !important;
  -moz-border-radius: 6 !important;
  &:hover {
    background: #e0e2e3;
    text-decoration: none;
  }
}

.tab-color-tickets {
  background-color: #9575CD;
}

.tab-color-tickets-bg {
  background: #9575CD;
  background: -webkit-linear-gradient(#9575CD, #127d87);
  background: -o-linear-gradient(#9575CD, #127d87);
  background: -moz-linear-gradient(#9575CD, #127d87);
  background: linear-gradient(#9575CD, #127d87);
}

.ticket > a {
  font-size: 26px;
  color: #fcf8e3;
  text-decoration: none;
}

.hr-border {
  border-top: 2px solid #eee;
}

.order > a {
  font-size: 26px;
  color: #fcf8e3;
  text-decoration: none;
}

.nav-tabs {
  > li.active.ticket > a {
    color: #fff;
    cursor: default;
    background-color: #9575CD;
    &:focus .nav-tabs > li.active.ticket > a:hover {
      color: #fff;
      cursor: default;
      background-color: #9575CD;
    }
  }
  &.nav-justified > {
    .active {
      > a {
        border-bottom-color: #9575CD;
        &:focus {
          border-bottom-color: #9575CD;
        }
      }
      &.eiei {
        > a:hover {
          border-bottom-color: #9575CD;
        }
        > a:hover {
          border: 1px solid #9575CD;
        }
      }
      > a {
        border: 1px solid #9575CD;
        &:focus {
          border: 1px solid #9575CD;
        }
      }
    }
    li.ticket > a {
      border-bottom: 1px solid #9575CD;
      border-radius: 4px 4px 0 0;
    }
  }
}

.nav > li.ticket > a {
  &:focus, &:hover {
    text-decoration: none;
    background-color: #9575CD;
    border-color: #9575CD;
    border-left-color: #4527A0;
  }
}

.tab-color-order {
  background-color: #4527A0;
}

.tab-color-order-bg {
  background: #4527A0;
  background: -webkit-linear-gradient(#4527A0, #127d87);
  background: -o-linear-gradient(#4527A0, #127d87);
  background: -moz-linear-gradient(#4527A0, #127d87);
  background: linear-gradient(#4527A0, #127d87);
}

// .tab-color {
//   background: #7573B5;
//   background: #340491;
//   &:active {
//     background: #340491;
//     background: #7573B5 !important;
//   }
// }

// .tab-color-bg {
//   background: #7573B5;
//   background: -webkit-linear-gradient(#7573B5, #127d87);
//   background: -o-linear-gradient(#7573B5, #127d87);
//   background: -moz-linear-gradient(#7573B5, #127d87);
//   background: linear-gradient(#7573B5, #127d87);
// }

.nav-tabs {
  > li.active {
    &.order > a, &.ordre > a:focus, &.order > a:hover {
      color: #fff;
      cursor: default;
      background-color: #4527A0;
    }
  }
  &.nav-justified > {
    li.order > a {
      border-bottom: 1px solid #4527A0;
      border-radius: 4px 4px 0 0;
    }
    .active.order > a {
      border-bottom-color: #4527A0;
      &:focus, &:hover {
        border-bottom-color: #4527A0;
      }
      border: 1px solid #4527A0;
      &:focus, &:hover {
        border: 1px solid #4527A0;
      }
    }
  }
}

.nav > li.order > a {
  &:focus, &:hover {
    border-top-color: #4527A0;
    border-left-color: #4527A0;
    text-decoration: none;
    background-color: #4527A0;
  }
}

.font-head-order {
  font-size: 22px;
  font-weight: bold;
}

.font-detail-order {
  font-weight: bold;
  font-size: 17px;
}

.font-bold {
  font-weight: bold;
  color: #999;
}

.td-small {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 12px;
}

.table.vat > {
  tbody > tr > {
    td, th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 0px solid #ddd;
      font-size: 14px;
    }
  }
  tfoot > tr > {
    td, th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 0px solid #ddd;
      font-size: 14px;
    }
  }
  thead > tr > {
    td, th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 0px solid #ddd;
      font-size: 14px;
    }
  }
}
