<navbar-auth></navbar-auth>
<section class="ticket-organize-bg">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-head-ticket-organize">
            Organizer Profile > ABC Organize
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="https://placehold.it/140x140" alt="" class="img-ticket-organize" />
              </div>
              <div class="col-md-9">
                <h1 class="text-info">Takit Consulting</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada, arcu a rutrum tempus, massa tortor volutpat orci, id interdum sapien purus at leo. Proin vehicula malesuada sagittis. Nunc sit amet sodales enim, ac ullamcorper neque.
                  Ut eu molestie sapien. Sed aliquet ligula ut enim auctor euismod. Pellentesque tempor ut quam non tincidunt. Phasellus justo risus, iaculis vitae pretium id, tincidunt sit amet erat. Vestibulum rutrum porttitor purus in pharetra. Morbi
                  magna velit dignissim dui, tempus auctor orci eros placerat arcu. Integer tristique ac nunc eu condimentum. Nulla dictum, lorem ut dictum efficitur, tortor libero molestie augue, in dignissim orci orci id augue.</p>
              </div>
            </div>
            <hr>
            <div class="col-md-9 col-md-offset-3">
              <h4>Email: </h4>
              <h4>Contact: </h4>
              <h4>Website: </h4>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-4">
          <img src="https://placehold.it/140x100" alt="" class="img-rounded" />
        </div>
        <div class="col-md-4">
          <img src="https://placehold.it/140x100" alt="" class="img-rounded" />
        </div>
        <div class="col-md-4">
          <img src="https://placehold.it/140x100" alt="" class="img-rounded" />
        </div>
      </div>
    </div>
  </div>
  <p class="text-center font-orange text-header"><b>Upcoming Events</b></p>
  <hr class="hr-border">
  <div class="row">
    <div class="col-md-4">
      <div class="event-box">
        <figure>
          <img src="public/images/event/event.jpg" alt="">
        </figure>
        <div class="event-detail">
          <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
          <div class="event-detail-group">
            <div class="left">
              <p class="date">
                <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
              </p>
              <p class="location">
                <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
              </p>
            </div>
            <div class="right">
              <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="event-box">
        <figure>
          <img src="public/images/event/event.jpg" alt="">
        </figure>
        <div class="event-detail">
          <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
          <div class="event-detail-group">
            <div class="left">
              <p class="date">
                <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
              </p>
              <p class="location">
                <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
              </p>
            </div>
            <div class="right">
              <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="event-box">
        <figure>
          <img src="public/images/event/event.jpg" alt="">
        </figure>
        <div class="event-detail">
          <p class="event-detail-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
          <div class="event-detail-group">
            <div class="left">
              <p class="date">
                <i class="icon icon-calendar"></i> 26 November 2016 at 08.00 - 23.30
              </p>
              <p class="location">
                <i class="fa fa-map-marker"></i> Ztudio Live Hall Bangkok Thailand
              </p>
            </div>
            <div class="right">
              <button type="button" name="button" class="btn btn-default">BUY TICKET</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footerweb></footerweb>
