.ticket-organize-bg {
  margin-top: -20px;
  background: #170080; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#170080, #127d87);
  background: -o-linear-gradient(#170080, #127d87);
  background: -moz-linear-gradient(#170080, #127d87);
  background: linear-gradient(#170080, #127d87);
}

.panel-head-ticket-organize {
  @extend .panel-heading;
  background: #ff8900 !important;
  color: #fff !important;
  height: 80px;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
}

.img-ticket-organize {
  @extend .img-circle;
  height: 140px;
  width: 140px;
}
