<!-- <headerweb></headerweb> -->
<navbar-auth></navbar-auth>
<section class="profile">
  <div class="container ">
    <div class="row">
    </br>
      <div class="panel panel-default">
        <div class="panel-heading"><b class="text-header">My Profile</b></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5">
              <div class="col-md-1">
              </div>
              <div class="col-md-9"style="margin-rigth: 10px;">
              </br>
                <img src="https://placehold.it/300x300" alt="" class="img-circle" ng-show="!filepreview"/>
                <img ng-src="{{ filepreview }}"
                  class="img-responsive img-circle img-profile"
                  height="300"
                  ng-show="filepreview"/>
                <div>
                  <br/>
                  <p class="text-center">
                    <input type="file" fileinput="file" filepreview="filepreview"/>
                  </p>
                </div>
                <div class="col-md-6">
              </div>
              </div>
            </div>
            <div class="col-md-5">
              </br>
              <form>
              <div class="form-group">
                <label for="user_name">User name</label>
                <input type="text" class="form-control" id="user_name" placeholder="User name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              </br>
              </br>
              <button type="submit" class="btn btn-default">Change Password</button>
            </form>
            </div>
          </div>
        </br>
        </br>
          <div class="row">
            <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">
              <div class="alert alert-danger" role="alert">
                <p><b class="text-info"> Information </b></p>
                <p class="font-black"> Please enter first name and last name as shown on your ID Card on Passport</p>
              </div>
            </div>
          </div>

          </br>
          <form>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="first_name">First name *</label>
                  <input type="text" class="form-control" id="first_name" placeholder="First name">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label for="last_name">Lats name *</label>
                  <input type="text" class="form-control" id="last_name" placeholder="Last name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Brithday (Day/Month/Year) *</label>
                  <input type="text" class="form-control" placeholder="Day">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <input type="text" class="form-control" placeholder="Month">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <input type="text" class="form-control" placeholder="Year">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="first_name">Gender *</label>
                  <br>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input type="text" class="form-control" id="email" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label for="address">Address </label>
                  <input type="text" class="form-control" id="address" placeholder="Address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label for="phone">Mobile phone number*</label>
                  <input type="text" class="form-control" id="phone" placeholder="Mobile phone number">
                </div>
              </div>
            </div>
          </form>

          <p class="text-info"><b> Social Network </b></p>
          <div class="row">
            <div class="col-md-10">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-3">
                    <img src="https://placehold.it/200x150" alt="" class="">
                  </div>
                  <div class="col-md-9">

                    <p class="pull-right">fackbook</p>
                    <br>
                    <p><b> Poyd rutchawadee</b></p>
                    <p>ruchwadee.v@takeitconculiting.com</p>
                    <p><button class="btn">Disconnect</button></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <center><button type="submit" class="btn btn-default">&nbsp;&nbsp;SAVE&nbsp;&nbsp;</button></center>
        </div>
      </div>
    </div>
  </div>
</section>
<footerweb></footerweb>
