.profile-bg{
  background: #5988b8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5988b8, #50b4ba);
  background: -o-linear-gradient(#5988b8, #50b4ba);
  background: -moz-linear-gradient(#5988b8, #50b4ba);
  background: linear-gradient(#5988b8, #50b4ba);
}

.navbar.navbar-default {
    background-color: #555;
    border: none;
    border-radius: 0;
    color: #fff;
}

.profile {
  margin-top: -20px;
  // background-color: #310e9b;
  background: #170080; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#170080, #127d87);
  background: -o-linear-gradient(#170080, #127d87);
  background: -moz-linear-gradient(#170080, #127d87);
  background: linear-gradient(#170080, #127d87);
}

.text-header{
  color: #ff8900;
  font-size: 28px;
}

.text-info{
  color: #ff8900;
  font-size: 28px;
}
.alert-danger {
  color: #f5f5f5;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.font-black{
  color: #555;
}

.img-profile{
  height: 300px;
}
