/* Icon */
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: 5px; }
  .icon.icon-apple {
    width: 25px;
    height: 35px;
    background-image: url("../images/icon/icon-apple.png");
    background-size: 100%;
    vertical-align: middle;
    margin-right: 10px; }
  .icon.icon-android {
    width: 25px;
    height: 35px;
    background-image: url("../images/icon/icon-android.png");
    background-size: 100%;
    vertical-align: middle;
    margin-right: 10px; }
  .icon.icon-phone {
    width: 20px;
    height: 20px;
    background-image: url("../images/icon/icon-phone.png");
    background-size: 15px 20px; }
  .icon.icon-email {
    width: 25px;
    height: 15px;
    background-image: url(../images/icon/icon-email.png);
    background-size: 20px 15px; }

.icon-social {
  margin-right: 5px; }
  .icon-social img {
    width: 40px;
    height: 40px; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat','Prompt', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #151414; }

img {
  width: 100%; }

input[type=text] {
  border-radius: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff; }

figure img {
  width: 100%; }

.content-header {
  display: table;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 50px; }
  .content-header figure {
    display: inline-table;
    width: 50px;
    height: 50px;
    margin-right: 15px; }
    .content-header figure img {
      width: 100%; }
  .content-header h3 {
    display: inline-table;
    font-weight: bold;
    vertical-align: middle; }

::-webkit-input-placeholder {
  color: red; }

:-moz-placeholder {
  color: red; }

::-moz-placeholder {
  color: red; }

:-ms-input-placeholder {
  color: red; }

/* Button */
.btn, .btn-default, .btn-white, .btn-purple {
  border-radius: 0;
  border: none;
  padding: 7px 15px;
  color: #fff; }

.btn-default {
  background-color: #ff8900; }

.btn-white {
  background-color: #fff;
  color: #151414; }

.btn-purple {
  background-color: #310e9b;
  border-radius: 20px;
  padding: 10px 20px; }

.btn-ghost {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 7px 15px;
  transition: all 0.5s; }
  .btn-ghost:hover {
    background-color: #fff;
    color: #ff8900; }

/* BG */
.bg-top {
  background-image: url("../images/bg/slide-bg.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 400px; }

/* icon */
.input-group-addon {
  padding: 5px 12px;
  background-color: #FF8900;
  border: none;
  border-radius: 0; }

.input-group-btn .btn-white {
  min-width: 136px;
  text-align: left; }
  .input-group-btn .btn-white .caret {
    color: #ff8900;
    float: right;
    margin-top: 5px;
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent; }
.input-group-btn .dropdown-menu {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  min-width: 100px; }
  .input-group-btn .dropdown-menu li a {
    padding: 5px 20px; }
  .input-group-btn .dropdown-menu li:hover a {
    background-color: #ff8900;
    color: #fff; }

/* Slider */
.carousel .carousel-inner .item .caption {
  color: #fff;
  font-size: 2rem;
  padding: 20px; }
  .carousel .carousel-inner .item .caption em {
    font-size: 1.8em; }
.carousel .carousel-inner .item .caption-image img {
  width: 75%; }
.carousel .carousel-indicators li {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: none;
  margin-right: 5px; }
  .carousel .carousel-indicators li.active {
    width: 13px;
    height: 13px;
    background-color: #310e9b;
    border: none; }
  .carousel .carousel-indicators li:last-child {
    margin: 0; }
@media screen and (min-width: 768px) {
  .carousel .carousel-indicators {
    bottom: -40px; } }

/* Navbar */
.navbar {
  padding: 20px 50px 0 50px; }
  .navbar.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #fff; }
    .navbar.navbar-default .navbar-nav {
      margin-top: 20px; }
      .navbar.navbar-default .navbar-nav li a {
        color: #fff;
        padding: 5px;
        border: 1px solid transparent;
        background-color: transparent; }
      .navbar.navbar-default .navbar-nav li:hover a, .navbar.navbar-default .navbar-nav li.active a {
        background: none;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff; }
        .navbar.navbar-default .navbar-nav li:hover a:hover, .navbar.navbar-default .navbar-nav li.active a:hover {
          background: none;
          color: #fff; }
      .navbar.navbar-default .navbar-nav li:nth-child(4) a:hover, .navbar.navbar-default .navbar-nav li:last-child a:hover {
        border: 1px solid transparent; }
  .navbar .navbar-header .navbar-brand {
    padding: 0 15px; }

.navbar-collapse .navbar-form {
  margin-top: 20px; }

.navbar-nav li {
  margin-left: 12px; }

/* Footer */
footer .col-footer {
  display: inline-table;
  vertical-align: top;
  border-right: 1px solid #c8c8c8;
  width: 19%;
  min-height: 310px;
  font-size: 14px; }
  footer .col-footer.no-border {
    border-right: none; }
footer .menu-footer {
  padding: 50px 0; }
  footer .menu-footer .menu-footer-list {
    margin: 0;
    padding: 0;
    padding: 0 15px;
    list-style: none; }
    footer .menu-footer .menu-footer-list li {
      padding-bottom: 20px; }
      footer .menu-footer .menu-footer-list li.menu-footer-head {
        color: #ff8900;
        font-weight: bold;
        border-bottom: 1px solid #c8c8c8;
        padding-bottom: 5px;
        margin-bottom: 30px; }
      footer .menu-footer .menu-footer-list li a {
        color: #151414; }
      footer .menu-footer .menu-footer-list li .highlight {
        color: #ff8900;
        font-weight: bold;
        font-size: 14px; }
footer .copyright {
  background-color: #310E9B;
  color: #fff;
  padding: 20px 0;
  text-align: center; }

.home-upcoming-event {
  background: #1F0894;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1F0894, #0F5D99);
  background: -o-linear-gradient(#1F0894, #0F5D99);
  background: -moz-linear-gradient(#1F0894, #0F5D99);
  background: linear-gradient(#1F0894, #0F5D99); }

.home-catagory {
  background: #5988b8;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5988b8, #50b4ba);
  background: -o-linear-gradient(#5988b8, #50b4ba);
  background: -moz-linear-gradient(#5988b8, #50b4ba);
  background: linear-gradient(#5988b8, #50b4ba); }

.home-get-app {
  background-image: url("../images/app/app.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px; }
  .home-get-app .get-app-content {
    margin-top: 180px;
    color: #fff;
    text-align: center; }
    .home-get-app .get-app-content figure {
      width: 30%;
      margin: 0 auto; }
      .home-get-app .get-app-content figure img {
        width: 100%; }
  .home-get-app .group-btn {
    display: block;
    text-align: center; }
    .home-get-app .group-btn button {
      font-size: 14px;
      font-weight: bold;
      margin: 5px; }
      .home-get-app .group-btn button.btn-purple {
        border-radius: 40px;
        padding: 5px 25px; }
      .home-get-app .group-btn button:hover {
        background-color: rgba(49, 14, 155, 0.9);
        color: #fff; }

.home-upcoming-event,
.home-catagory {
  padding: 50px 0; }

.home-upcoming-event .btn-ghost {
  display: block;
  margin: 0 auto; }

.event-box {
  position: relative;
  transition: all 0.5s;
  box-sizing: border-box; }
  .event-box:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }
  .event-box figure img {
    width: 100%;
    box-sizing: border-box; }
  .event-box .event-detail {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px; }
    .event-box .event-detail .event-detail-name {
      font-weight: bold;
      font-size: 14px; }
    .event-box .event-detail .event-detail-group {
      display: table;
      width: 100%; }
      .event-box .event-detail .event-detail-group .left, .event-box .event-detail .event-detail-group .right {
        display: inline-table; }
      .event-box .event-detail .event-detail-group .left p {
        font-size: 10px; }
        .event-box .event-detail .event-detail-group .left p img {
          width: 15px;
          margin-right: 5px; }
      .event-box .event-detail .event-detail-group .right {
        vertical-align: middle;
        width: 30%;
        float: right;
        padding-top: 10px; }
        .event-box .event-detail .event-detail-group .right button {
          border-radius: 5px;
          font-size: 12px;
          padding: 7px 10px;
          margin: 0;
          transition: all 0.5s; }
          .event-box .event-detail .event-detail-group .right button:hover {
            margin-top: 5px;
            background-color: rgba(255, 137, 0, 0.3);
            color: #fff; }

.catagory-box {
  display: table; }
  .catagory-box .catagory-menu, .catagory-box .catagory-detail {
    display: inline-table; }
  .catagory-box .catagory-menu {
    background-image: url("../images/catagory/catagory-menu-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 375px;
    height: 510px; }
    .catagory-box .catagory-menu .nav-tabs {
      margin: 80px 0 50px;
      border-bottom: none; }
      .catagory-box .catagory-menu .nav-tabs li {
        width: 100%; }
        .catagory-box .catagory-menu .nav-tabs li a {
          border-radius: 0;
          border: none;
          margin: 0;
          color: #fff;
          text-align: right;
          font-size: 2rem;
          padding: 10px 25px;
          transition: all 0.5s; }
        .catagory-box .catagory-menu .nav-tabs li.active a, .catagory-box .catagory-menu .nav-tabs li:hover a {
          background-color: #ff8900; }
    .catagory-box .catagory-menu .btn-default {
      float: right;
      margin-right: 20px; }
  .catagory-box .catagory-detail {
    background-color: #fff;
    width: calc(100% - 375px);
    min-height: 510px;
    vertical-align: top; }
    .catagory-box .catagory-detail .tab-pane.active {
      height: 510px; }
    .catagory-box .catagory-detail .thumbnail {
      position: relative;
      padding: 0;
      margin: 0;
      border: 0;
      width: 252px;
      display: inline-block; }
      .catagory-box .catagory-detail .thumbnail .caption {
        display: none;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        width: 100%;
        padding: 5px 20px;
        transition: all 1s; }
        .catagory-box .catagory-detail .thumbnail .caption p {
          font-size: 10px; }
          .catagory-box .catagory-detail .thumbnail .caption p img {
            width: 15px;
            margin-right: 5px; }
      .catagory-box .catagory-detail .thumbnail:hover .caption {
        display: block; }

/*# sourceMappingURL=style.css.map */
