/* Icon */
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: 5px; }
  .icon.icon-phone {
    width: 20px;
    height: 20px;
    background-image: url("../images/icon/icon-phone.png");
    background-size: 15px 20px; }
  .icon.icon-email {
    width: 25px;
    height: 15px;
    background-image: url("../images/icon/icon-email.png");
    background-size: 20px 15px; }
  .icon.icon-calendar {
    width: 15px;
    height: 16px;
    background-image: url("../images/icon/icon-calendar.png");
    background-size: 100%;
    vertical-align: bottom; }

/* Button */
.btn, .btn-default, .btn-white, .btn-signup, .btn-facebook, .btn-purple {
  border-radius: 0;
  border: none;
  padding: 7px 15px;
  color: #fff; }

.btn-default {
  background-color: #ff8900; }
  .btn-default:hover, .btn-default:focus {
    background-color: #f5ba80;
    color: #fff; }

.btn-white, .btn-signup {
  background-color: #fff;
  color: #151414; }

.btn-facebook {
  background-color: #0b478d;
  color: #fff; }
  .btn-facebook:hover, .btn-facebook:focus {
    background-color: rgba(11, 71, 141, 0.8);
    color: #fff; }

.btn-purple {
  background-color: #310e9b;
  border-radius: 20px;
  padding: 10px 20px; }

.btn-ghost {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 7px 15px;
  transition: all 0.5s; }
  .btn-ghost:hover, .btn-ghost:focus {
    background-color: #fff;
    color: #ff8900; }

.btn-signup {
  background-color: #b3b3b3;
  min-width: 300px;
  height: 55px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.signup.top .btn-signup {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

/* btn-switch language */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin: 5px auto 0; }
  .switch input {
    display: none; }
    .switch input:checked + .slider {
      background-color: #ff8900; }
      .switch input:checked + .slider:before {
        transform: translateX(20px); }
      .switch input:checked + .slider:after {
        transform: translateX(20px); }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #ff8900; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff8900;
    transition: .4s; }
    .switch .slider:before, .switch .slider:after {
      position: absolute;
      content: "";
      background-color: #fff;
      transition: .4s; }
    .switch .slider:before {
      height: 20px;
      width: 20px;
      left: 5px;
      bottom: 4px; }
    .switch .slider:after {
      width: 12px;
      height: 12px;
      left: 9px;
      bottom: 8px;
      border: 1px solid #ff8900;
      border-radius: 100%; }
    .switch .slider.round {
      border-radius: 34px; }
      .switch .slider.round span {
        position: absolute;
        font-size: 13px;
        font-weight: normal; }
        .switch .slider.round span.th {
          top: 4px;
          left: 6px; }
        .switch .slider.round span.en {
          top: 4px;
          right: 5px; }
      .switch .slider.round:before {
        border-radius: 50%; }

input[type=text],
input[type=password],
input[type=email] {
  border: 1px solid #999999;
  border-radius: 0;
  box-shadow: none;
  height: 40px; }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus {
    outline: none;
    border-color: #ff8900;
    color: #ff8900; }

input[type=checkbox].checkbox {
  position: relative;
  display: inline-block; }
  input[type=checkbox].checkbox:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    border: 1px solid #999999;
    width: 15px;
    height: 15px;
    background-color: #fff; }
input[type=checkbox]:checked:before {
  font-family: 'FontAwesome';
  content: "\f00c";
  background-color: #ff8900;
  border-color: #ff8900;
  color: #fff;
  font-size: 14px; }

@media screen and (min-width: 768px) {
  .modal .modal-dialog {
    width: 500px;
    margin: 10% auto 30px; } }
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 0; }
.modal .modal-content {
  padding: 30px 50px 50px;
  box-shadow: none; }
.modal .modal-header {
  text-align: center;
  border-bottom: none;
  margin-bottom: 20px; }
.modal .modal-body {
  margin: 0; }
  .modal .modal-body .group-form {
    position: relative;
    margin-bottom: 20px; }
    .modal .modal-body .group-form .fa {
      position: absolute;
      top: 12px;
      left: 10px; }
    .modal .modal-body .group-form input[type=text], .modal .modal-body .group-form input[type=password], .modal .modal-body .group-form input[type=email] {
      padding-left: 30px; }
      .modal .modal-body .group-form input[type=text]:focus + .fa, .modal .modal-body .group-form input[type=password]:focus + .fa, .modal .modal-body .group-form input[type=email]:focus + .fa {
        color: #ff8900; }
    .modal .modal-body .group-form .forgot-pass {
      display: block;
      text-align: right;
      text-decoration: none;
      color: #999999;
      font-size: 14px;
      margin-top: 5px; }
      .modal .modal-body .group-form .forgot-pass:hover {
        color: #ff8900; }
  .modal .modal-body .form-group {
    text-align: center;
    color: #ff8900; }
    .modal .modal-body .form-group label {
      font-weight: 100;
      font-size: 14px;
      margin-bottom: 15px; }
.modal .modal-footer {
  border-top: none;
  text-align: center; }
  .modal .modal-footer .line {
    color: #999999; }
    .modal .modal-footer .line hr {
      margin: 15px 0;
      border-top: 2px solid #ccc;
      border-radius: 100%;
      width: 10%;
      display: inline-block;
      vertical-align: middle; }
  .modal .modal-footer button {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 40px; }
.modal .signup {
  text-align: center;
  margin-top: 3px; }
.modal#forgotPassword .modal-header p {
  padding: 15px 0 10px;
  margin: 0;
  font-size: 12px; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat','Prompt', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #151414; }

img {
  width: 100%; }

figure img {
  width: 100%; }

.content-header {
  display: table;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 50px; }
  .content-header figure {
    display: inline-table;
    width: 50px;
    height: 50px;
    margin-right: 15px; }
    .content-header figure img {
      width: 100%; }
  .content-header h1, .content-header h3 {
    display: inline-table;
    font-weight: bold;
    vertical-align: middle; }

/* BG */
.bg-top {
  background-image: url("../images/bg/slide-bg.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 400px; }

/* icon */
.input-group-addon {
  padding: 5px 12px;
  background-color: #FF8900;
  border: none;
  border-radius: 0; }

.input-group-btn .btn-white, .input-group-btn .btn-signup {
  min-width: 136px;
  text-align: left; }
  .input-group-btn .btn-white .caret, .input-group-btn .btn-signup .caret {
    color: #ff8900;
    float: right;
    margin-top: 5px;
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent; }
.input-group-btn .dropdown-menu {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  min-width: 100px; }
  .input-group-btn .dropdown-menu li a {
    padding: 5px 20px; }
  .input-group-btn .dropdown-menu li:hover a {
    background-color: #ff8900;
    color: #fff; }

/* Slider */
.carousel .carousel-inner .item .caption {
  color: #fff;
  font-size: 2rem;
  padding: 20px; }
  .carousel .carousel-inner .item .caption em {
    font-size: 1.8em; }
.carousel .carousel-inner .item .caption-image img {
  width: 75%; }
.carousel .carousel-indicators li {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: none;
  margin-right: 5px; }
  .carousel .carousel-indicators li.active {
    width: 13px;
    height: 13px;
    background-color: #310e9b;
    border: none; }
  .carousel .carousel-indicators li:last-child {
    margin: 0; }
@media screen and (min-width: 768px) {
  .carousel .carousel-indicators {
    bottom: -40px; } }

/* Navbar */
@media (min-width: 1200px) {
  nav .container {
    width: 1190px; } }

.navbar {
  padding: 20px 50px 0 50px; }
  .navbar.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #fff; }
    .navbar.navbar-default .navbar-nav {
      margin-top: 20px; }
      .navbar.navbar-default .navbar-nav li a {
        color: #fff;
        padding: 5px;
        border: 1px solid transparent;
        background-color: transparent; }
      .navbar.navbar-default .navbar-nav li:hover a, .navbar.navbar-default .navbar-nav li.active a {
        background: none;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff; }
        .navbar.navbar-default .navbar-nav li:hover a:hover, .navbar.navbar-default .navbar-nav li.active a:hover {
          background: none;
          color: #fff; }
      .navbar.navbar-default .navbar-nav li:nth-child(4) a:hover, .navbar.navbar-default .navbar-nav li:last-child a:hover {
        border: 1px solid transparent; }
      .navbar.navbar-default .navbar-nav li.open > a:hover, .navbar.navbar-default .navbar-nav li.open > a:focus {
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid transparent;
        box-shadow: 0 2px 5px #111;
        color: #fff; }
      .navbar.navbar-default .navbar-nav li.open .dropdown-menu {
        border-radius: 0;
        padding: 0; }
        .navbar.navbar-default .navbar-nav li.open .dropdown-menu li {
          margin: 0;
          border-bottom: 1px solid #c8c8c8; }
          .navbar.navbar-default .navbar-nav li.open .dropdown-menu li a {
            color: #999999; }
          .navbar.navbar-default .navbar-nav li.open .dropdown-menu li:hover a {
            background-color: #ff8900;
            border-radius: 0;
            border: 1px solid transparent;
            color: #fff; }
      .navbar.navbar-default .navbar-nav li.user {
        width: 150px; }
        .navbar.navbar-default .navbar-nav li.user a span.fa-stack .fa-inverse {
          color: #999999; }
        .navbar.navbar-default .navbar-nav li.user a:focus {
          width: 150px; }
        .navbar.navbar-default .navbar-nav li.user .dropdown-menu {
          min-width: 150px; }
          .navbar.navbar-default .navbar-nav li.user .dropdown-menu li a {
            padding: 8px 12px; }
  .navbar .navbar-header .navbar-brand {
    padding: 0 15px; }

.navbar-collapse .navbar-form {
  margin-top: 20px; }
  .navbar-collapse .navbar-form .input-group input[type=text] {
    border-radius: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    height: 35px; }
  .navbar-collapse .navbar-form .input-group input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1; }
  .navbar-collapse .navbar-form .input-group input:-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .navbar-collapse .navbar-form .input-group input::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .navbar-collapse .navbar-form .input-group input:-ms-input-placeholder {
    color: #fff;
    opacity: 1; }
  .navbar-collapse .navbar-form .input-group-btn:last-child .btn, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-default, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-white, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-signup, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-facebook, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-purple {
    margin-left: 0; }
  .navbar-collapse .navbar-form .input-group-btn.open .dropdown-menu-right {
    right: 48px; }
  .navbar-collapse .navbar-form .input-group-btn .fa-search {
    font-size: 19px; }

.navbar-nav li {
  margin-left: 12px; }

/* Footer */
footer .col-footer {
  display: inline-table;
  vertical-align: top;
  border-right: 1px solid #c8c8c8;
  width: 19%;
  min-height: 310px;
  font-size: 14px; }
  footer .col-footer.no-border {
    border-right: none; }
footer .menu-footer {
  padding: 50px 0; }
  footer .menu-footer .menu-footer-list {
    margin: 0;
    padding: 0;
    padding: 0 15px;
    list-style: none; }
    footer .menu-footer .menu-footer-list li {
      padding-bottom: 20px; }
      footer .menu-footer .menu-footer-list li.menu-footer-head {
        color: #ff8900;
        font-weight: bold;
        border-bottom: 1px solid #c8c8c8;
        padding-bottom: 5px;
        margin-bottom: 30px; }
      footer .menu-footer .menu-footer-list li a {
        color: #151414; }
      footer .menu-footer .menu-footer-list li .highlight {
        color: #ff8900;
        font-weight: bold;
        font-size: 14px; }
      footer .menu-footer .menu-footer-list li:last-child .icon-social {
        display: inline-block; }
        footer .menu-footer .menu-footer-list li:last-child .icon-social .fa-stack {
          font-size: 22px; }
          footer .menu-footer .menu-footer-list li:last-child .icon-social .fa-stack .fa-circle {
            color: #999;
            transition: color 0.3s; }
        footer .menu-footer .menu-footer-list li:last-child .icon-social:hover .fa-circle {
          color: #ff8900; }
footer .copyright {
  background-color: #310E9B;
  color: #fff;
  padding: 20px 0;
  text-align: center; }

.home-upcoming-event {
  background: #1F0894;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1F0894, #0F5D99);
  background: -o-linear-gradient(#1F0894, #0F5D99);
  background: -moz-linear-gradient(#1F0894, #0F5D99);
  background: linear-gradient(#1F0894, #0F5D99); }

.home-catagory {
  background: #5988b8;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5988b8, #50b4ba);
  background: -o-linear-gradient(#5988b8, #50b4ba);
  background: -moz-linear-gradient(#5988b8, #50b4ba);
  background: linear-gradient(#5988b8, #50b4ba); }

.home-get-app {
  background-image: url("../images/app/app.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px; }
  .home-get-app .get-app-content {
    margin-top: 180px;
    color: #fff;
    text-align: center; }
    .home-get-app .get-app-content figure {
      width: 30%;
      margin: 0 auto; }
      .home-get-app .get-app-content figure img {
        width: 100%; }
  .home-get-app .group-btn {
    display: block;
    text-align: center; }
    .home-get-app .group-btn button {
      font-size: 16px;
      font-weight: bold;
      margin: 5px; }
      .home-get-app .group-btn button.btn-purple {
        border-radius: 40px;
        padding: 10px 25px; }
        .home-get-app .group-btn button.btn-purple .fa {
          vertical-align: middle;
          margin-right: 8px; }
      .home-get-app .group-btn button:hover, .home-get-app .group-btn button:focus {
        background-color: rgba(49, 14, 155, 0.9);
        color: #fff; }

.home-upcoming-event,
.home-catagory {
  padding: 50px 0; }

.home-upcoming-event .btn-ghost {
  display: block;
  margin: 0 auto; }

.event-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px; }
  .event-box:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }
    .event-box:hover figure img {
      transform: scale(1.2, 1.2); }
  .event-box figure img {
    width: 100%;
    transition: all 0.5s; }
  .event-box .event-detail {
    background-color: #fff;
    padding: 30px 20px 15px; }
    .event-box .event-detail .event-detail-name {
      font-weight: bold;
      font-size: 14px; }
    .event-box .event-detail .event-detail-group {
      display: table;
      width: 100%; }
      .event-box .event-detail .event-detail-group .left, .event-box .event-detail .event-detail-group .right {
        display: inline-table; }
      .event-box .event-detail .event-detail-group .left p {
        font-size: 10px; }
        .event-box .event-detail .event-detail-group .left p.location .fa {
          font-size: 20px;
          color: #ff8900;
          margin-right: 5px; }
      .event-box .event-detail .event-detail-group .right {
        vertical-align: middle;
        width: 30%;
        float: right;
        padding-top: 10px; }
        .event-box .event-detail .event-detail-group .right button {
          border-radius: 5px;
          font-size: 12px;
          padding: 7px 10px;
          margin: 0;
          transition: all 0.5s; }
          .event-box .event-detail .event-detail-group .right button:hover {
            margin-top: 5px;
            background-color: rgba(255, 137, 0, 0.3);
            color: #fff; }

.catagory-box {
  display: table; }
  .catagory-box .catagory-menu, .catagory-box .catagory-detail {
    display: inline-table; }
  .catagory-box .catagory-menu {
    background-image: url("../images/catagory/catagory-menu-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 375px;
    height: 510px; }
    .catagory-box .catagory-menu .nav-tabs {
      margin: 80px 0 50px;
      border-bottom: none; }
      .catagory-box .catagory-menu .nav-tabs li {
        width: 100%; }
        .catagory-box .catagory-menu .nav-tabs li a {
          border-radius: 0;
          border: none;
          margin: 0;
          color: #fff;
          text-align: right;
          font-size: 2rem;
          padding: 10px 25px;
          transition: all 0.5s; }
        .catagory-box .catagory-menu .nav-tabs li.active a, .catagory-box .catagory-menu .nav-tabs li:hover a {
          background-color: #ff8900; }
    .catagory-box .catagory-menu .btn-default {
      float: right;
      margin-right: 20px; }
  .catagory-box .catagory-detail {
    background-color: #fff;
    width: calc(100% - 375px);
    min-height: 510px;
    vertical-align: top; }
    .catagory-box .catagory-detail .tab-pane.active {
      height: 510px; }
    .catagory-box .catagory-detail .thumbnail {
      position: relative;
      padding: 0;
      margin: 0;
      border: 0;
      width: 252px;
      display: inline-block; }
      .catagory-box .catagory-detail .thumbnail .caption {
        display: none;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        width: 100%;
        padding: 5px 20px;
        transition: all 1s; }
        .catagory-box .catagory-detail .thumbnail .caption p {
          font-size: 10px; }
          .catagory-box .catagory-detail .thumbnail .caption p.location .fa {
            font-size: 20px;
            color: #ff8900;
            margin-right: 5px; }
      .catagory-box .catagory-detail .thumbnail:hover .caption {
        display: block; }

header .content-header {
  margin-top: 5%; }
  header .content-header figure {
    width: 100px;
    height: 100px; }
  header .content-header h1 {
    font-size: 3em;
    font-weight: bold; }

.search-filter {
  background-color: #181F55;
  padding: 20px 0; }
  .search-filter h4 {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
