<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-lg-2" style="background: blue;">
      <br>
      <img class="img-circle" src="https://placehold.it/140x140" style="width: 140px;">
      <p class="text-info">TakeIT Organizer</p>
      <p class="text-info">Change image</p>
      <hr>
      <a href="/organizer/event">My Event</a>
    </div>
    <div class="col-sm-9 col-lg-10" style="background: red;">

    </div>
  </div>
</div>
