<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <h1>Account Setting</h1>
      <div class="form-group">
        <label for="">Username *</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Email *</label>
        <input type="email" class="form-control" id="" placeholder="example@email.com">
      </div>

      <h1>Change Password</h1>
      <div class="form-group">
        <label for="">Password *</label>
        <input type="password" class="form-control" id="" placeholder="">
      </div>

      <h1>Profile Details</h1>
      <div class="form-group">
        <label for="">Detail</label>
        <textarea name="name" rows="8" cols="80" class="form-control"></textarea>
      </div>

      <h1>Experience</h1>
      <div class="form-group">
        <label for="">Detail</label>
        <textarea name="name" rows="8" cols="80" class="form-control"></textarea>
      </div>

      <h1>Skills</h1>
      <div class="form-group">
        <label for="">Detail</label>
        <textarea name="name" rows="8" cols="80" class="form-control"></textarea>
      </div>

      <h1>Images</h1>
      <div class="form-group">
        <label for="" class="sr-only"></label>
        <input type="file" class="form-control" id="" placeholder="">
        <p class="help-block">upload image </p>
      </div>
      <div class="form-group">
        <label for="" class="sr-only"></label>
        <input type="file" class="form-control" id="" placeholder="">
        <p class="help-block">upload image </p>
      </div>
      <div class="form-group">
        <label for="" class="sr-only"></label>
        <input type="file" class="form-control" id="" placeholder="">
        <p class="help-block">upload image </p>
      </div>

      <button type="button" name="button" class="btn btn-default">SAVE</button>
      <button type="button" name="button" class="btn btn-primary">PREVIEW</button>
    </form>
  </div>
</div>
