<headerweb></headerweb>
<section class="order-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <h2>Order</h2>
                <h4>Description</h4>
                <p>calendar</p>
                <p>location</p>
              </div>
              <div class="col-md-4">
                <h2>Buyer Infomation</h2>
                <h4>name pathana</h4>
                <h4>name pathana</h4>
                <h4>name pathana</h4>
              </div>
              <div class="col-md-4">
                <h2>Buyer Infomation</h2>
                <h4>name pathana</h4>
                <h4>name pathana</h4>
                <h4>name pathana</h4>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-primary">button</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-primary">button</button>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h2 class="text-center">Order Detail</h2>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Type Ticket</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Genaral</td>
                  <td class="text-center">1,000.00</td>
                  <td class="text-center">2</td>
                  <td class="text-center">2,000.00</td>
                </tr>
                <tr>
                  <td>Genaral</td>
                  <td class="text-center">1,000.00</td>
                  <td class="text-center">2</td>
                  <td class="text-center">2,000.00</td>
                </tr>
                <tr>
                  <td>Genaral</td>
                  <td class="text-center">1,000.00</td>
                  <td class="text-center">2</td>
                  <td class="text-center">2,000.00</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <p>Vat 7% (For Ticket):</p>
                <p>Vat 7% (For Free):</p>
                <p>Order total:</p>
                <p>Credit Card Fee (Vat 7% Included):</p>
                <p>Grand total:</p>
              </div>
              <div class="col-md-4 text-right">
                <p>140</p>
                <p>8.40</p>
                <p>2268.40</p>
                <p>8.40</p>
                <p>2268.40</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
