.order-bg{
  background: #5988b8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5988b8, #50b4ba);
  background: -o-linear-gradient(#5988b8, #50b4ba);
  background: -moz-linear-gradient(#5988b8, #50b4ba);
  background: linear-gradient(#5988b8, #50b4ba);
}
