/* Button */
.btn{
  border-radius: 0;
  border: none;
  padding: 7px 15px;
  color: $white-color;
}
.btn-default{
  @extend .btn;
  background-color: $orange-color;
  &:hover,&:focus{
    background-color: $light-orange-color;
    color: $white-color;
  }
}
.btn-white{
  @extend .btn;
  background-color: $white-color;
  color: $main-text-color;
}
.btn-facebook{
  @extend .btn;
  background-color: $facebook-color;
  color: $white-color;
  &:hover,&:focus{
    background-color: rgba($facebook-color,0.8);
    color: $white-color;
  }
}
.btn-purple{
  @extend .btn;
  background-color: $purple-color;
  border-radius: 20px;
  padding: 10px 20px;

}
.btn-ghost{
  background: none;
  border: 1px solid $white-color;
  border-radius: 5px;
  color: $white-color;
  padding: 7px 15px;
  transition: all 0.5s;
  &:hover,&:focus{
    background-color: $white-color;
    color: $orange-color;
  }
}
.btn-signup{
  @extend .btn-white;
  background-color: #b3b3b3;
  min-width: 300px;
  height: 55px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.signup{
  &.top{
    .btn-signup{
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
}

/* btn-switch language */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin: 5px auto 0;
  input {
    display:none;
    &:checked{
      & + .slider{
        background-color: $orange-color;
        &:before{
          transform: translateX(20px);
        }
        &:after{
          transform: translateX(20px);
        }
      }
    }
    &:focus{
      & + .slider{
        box-shadow: 0 0 1px $orange-color;
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $orange-color;//#ccc;
    transition: .4s;
    &:before,&:after{
      position: absolute;
      content: "";
      background-color: $white-color;
      transition: .4s;
    }
    &:before{
      height: 20px;
      width: 20px;
      left: 5px;
      bottom: 4px;
    }
    &:after{
      width: 12px;
      height: 12px;
      left: 9px;
      bottom: 8px;
      border: 1px solid $orange-color;
      border-radius: 100%;
    }
    &.round {
      border-radius: 34px;
      span{
        position: absolute;
        font-size: 13px;
        font-weight: normal;
        &.th{
          top: 4px;
          left: 6px;
        }
        &.en{
          top: 4px;
          right: 5px;
        }
      }
      &:before{
        border-radius: 50%;
      }
    }
  }
}
