input[type=text],
input[type=password],
input[type=email]{
  border: 1px solid $gray-color;
  border-radius: 0;
  box-shadow: none;
  height: 40px;
  &:focus{
    outline: none;
    border-color: $orange-color;
    color: $orange-color;
  }
}

input[type=checkbox]{
  &.checkbox{
    position: relative;
    display: inline-block;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: -1px;
      border: 1px solid #999999;
      width: 15px;
      height: 15px;
      background-color: #fff;
    }
  }
  &:checked{
    &:before{
      font-family: 'FontAwesome';
      content: "\f00c";
      background-color: $orange-color;
      border-color: $orange-color;
      color: $white-color;
      font-size: 14px;
    }
  }
}
