@import "variable";

html , body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat','Prompt', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $main-text-color;
}

img{
  width: 100%;
}

figure{
  img{
    width: 100%;
  }
}

.content-header{
  display: table;
  width: 100%;
  text-align: center;
  color: $white-color;
  margin-bottom: 50px;
  figure{
    display: inline-table;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    img{
      width: 100%;
    }
  }
  h1,h3{
    display: inline-table;
    font-weight: bold;
    vertical-align: middle;
  }
}
