$white-color: #fff;
$blue-color: #310e9b;
$facebook-color: #0b478d;
$orange-color: #ff8900;
$light-orange-color: #f5ba80;
$purple-color: #310e9b;
$light-gray: #c8c8c8;
$gray-color: #999999;
$main-text-color: #151414;


@mixin placeholder() {
  input::-webkit-input-placeholder{
    @content
  }
  input:-moz-placeholder{
    @content
  }
  input::-moz-placeholder{
    @content
  }
  input:-ms-input-placeholder{
    @content
  }
}
