.navbar.navbar-default {
    background-color: #555;
    border: none;
    border-radius: 0;
    color: #fff;
}

.profile {
  margin-top: -20px;
  background-color: #310e9b;
}

.text-header{
  color: #ff8900;
  font-size: 28px;
}

.text-info{
  color: #ff8900;
  font-size: 28px;
}
.alert-danger {
  color: #f5f5f5;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.font-black{
  color: black;
}
