<header class="bg-top">
  <nav class="navbar navbar-default"><!-- navbar-fixed-top -->
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="assets/images/logo/logo-top-2.png" alt="">
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-mobile" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="menu-mobile">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="ค้นหา Event ที่คุณสนใจ">
              <div class="input-group-btn">
                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Dates <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Today</a></li>
                  <li><a href="#">Tomorrow</a></li>
                  <li><a href="#">This Week</a></li>
                  <li><a href="#">This Weekend</a></li>
                  <li><a href="#">Next Week</a></li>
                  <li><a href="#">Next Month</a></li>
                </ul>
                <button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav">
          <li><a href="/upcoming">Upcoming</a></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catagory</a>
            <ul class="dropdown-menu">
              <li><a href="#">Business</a></li>
              <li><a href="#">Music &amp; Art</a></li>
              <li><a href="#">Education</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </li>
          <li><a href="#">Organizer/Performer</a></li>
          <li>
            <label class="switch">
              <input type="checkbox" checked>
              <div class="slider round">
                <span class="th">TH</span>
                <span class="en">EN</span>
              </div>
            </label>
          </li>
          <li><button type="submit" class="btn btn-default" data-toggle="modal" data-target="#login">สมัคร | ล็อกอิน</button></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- slide -->
  <div class="container">
    <div class="row">
      <div id="slide-home" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" >
          <div ng-repeat="slide in slides track by $index" class="item" ng-class="{'active': $index == 0}">
            <div class="col-md-6">
              <div class="caption">
                {{ slide.content }}
              </div>
            </div>
            <div class="col-md-6">
              <figure class="caption-image">
                <img height="250px" src="{{ slide.image }}" alt="">
              </figure>
            </div>
          </div>
        </div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li ng-repeat="slide in slides track by $index"
              data-target="#slide-home"
              data-slide-to="{{ $index }}"
              ng-class="{'active': $index == 0}">
          </li>
        </ol>
      </div>
    </div>
  </div>
</header>

<!-- Modal Login/Register -->
<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Welcome back..</h3>
        <p>Sign into your account here:</p>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="group-form">
              <input type="text" class="form-control" placeholder="Email address">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div class="col-md-12">
            <div class="group-form">
              <input type="password" class="form-control" placeholder="Password">
              <i class="fa fa-lock"></i>
              <a href="forgotpassword.html" class="forgot-pass">Forgotten password?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Sign in</button>
        <div class="line"><hr> or <hr></div>
        <button type="button" class="btn btn-facebook">Sign in with Facebook</button>
      </div>
    </div>
    <div class="signup">
      <a href="signup.html">
        <button type="button" name="button" class="btn btn-signup">Sign Up</button>
      </a>
    </div>
  </div>
</div>
