/* Button */
.btn, .btn-default, .btn-white, .btn-signup, .btn-facebook, .btn-purple {
  border-radius: 0;
  border: none;
  padding: 7px 15px;
  color: #fff; }

.btn-default {
  background-color: #ff8900; }
  .btn-default:hover, .btn-default:focus {
    background-color: #f5ba80;
    color: #fff; }

.btn-white, .btn-signup {
  background-color: #fff;
  color: #151414; }

.btn-facebook {
  background-color: #0b478d;
  color: #fff; }
  .btn-facebook:hover, .btn-facebook:focus {
    background-color: rgba(11, 71, 141, 0.8);
    color: #fff; }

.btn-purple {
  background-color: #310e9b;
  border-radius: 20px;
  padding: 10px 20px; }

.btn-ghost {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 7px 15px;
  transition: all 0.5s; }
  .btn-ghost:hover, .btn-ghost:focus {
    background-color: #fff;
    color: #ff8900; }

.btn-signup {
  background-color: #b3b3b3;
  min-width: 300px;
  height: 55px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.signup.top .btn-signup {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

/* btn-switch language */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin: 5px auto 0; }
  .switch input {
    display: none; }
    .switch input:checked + .slider {
      background-color: #ff8900; }
      .switch input:checked + .slider:before {
        transform: translateX(20px); }
      .switch input:checked + .slider:after {
        transform: translateX(20px); }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #ff8900; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff8900;
    transition: .4s; }
    .switch .slider:before, .switch .slider:after {
      position: absolute;
      content: "";
      background-color: #fff;
      transition: .4s; }
    .switch .slider:before {
      height: 20px;
      width: 20px;
      left: 5px;
      bottom: 4px; }
    .switch .slider:after {
      width: 12px;
      height: 12px;
      left: 9px;
      bottom: 8px;
      border: 1px solid #ff8900;
      border-radius: 100%; }
    .switch .slider.round {
      border-radius: 34px; }
      .switch .slider.round span {
        position: absolute;
        font-size: 13px;
        font-weight: normal; }
        .switch .slider.round span.th {
          top: 4px;
          left: 6px; }
        .switch .slider.round span.en {
          top: 4px;
          right: 5px; }
      .switch .slider.round:before {
        border-radius: 50%; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat','Prompt', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #151414; }

img {
  width: 100%; }

figure img {
  width: 100%; }

.content-header {
  display: table;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 50px; }
  .content-header figure {
    display: inline-table;
    width: 50px;
    height: 50px;
    margin-right: 15px; }
    .content-header figure img {
      width: 100%; }
  .content-header h1, .content-header h3 {
    display: inline-table;
    font-weight: bold;
    vertical-align: middle; }

/* BG */
.bg-top {
  background-image: url("../assets/images/bg/slide-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 400px; }

/* Slider */
.carousel .carousel-inner .item .caption {
  color: #fff;
  font-size: 2rem;
  padding: 20px; }
  .carousel .carousel-inner .item .caption em {
    font-size: 1.8em; }
.carousel .carousel-inner .item .caption-image img {
  width: 75%; }
.carousel .carousel-indicators li {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: none;
  margin-right: 5px; }
  .carousel .carousel-indicators li.active {
    width: 13px;
    height: 13px;
    background-color: #310e9b;
    border: none; }
  .carousel .carousel-indicators li:last-child {
    margin: 0; }
@media screen and (min-width: 768px) {
  .carousel .carousel-indicators {
    bottom: -40px; } }

/* Navbar */
@media (min-width: 1200px) {
  nav .container {
    width: 1190px; } }

.navbar {
  padding: 20px 50px 0 50px; }
  .navbar.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #fff; }
    .navbar.navbar-default .navbar-nav {
      margin-top: 20px; }
      .navbar.navbar-default .navbar-nav li a {
        color: #fff;
        padding: 5px;
        border: 1px solid transparent;
        background-color: transparent; }
      .navbar.navbar-default .navbar-nav li:hover a, .navbar.navbar-default .navbar-nav li.active a {
        background: none;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff; }
        .navbar.navbar-default .navbar-nav li:hover a:hover, .navbar.navbar-default .navbar-nav li.active a:hover {
          background: none;
          color: #fff; }
      .navbar.navbar-default .navbar-nav li:nth-child(4) a:hover, .navbar.navbar-default .navbar-nav li:last-child a:hover {
        border: 1px solid transparent; }
      .navbar.navbar-default .navbar-nav li.open > a:hover, .navbar.navbar-default .navbar-nav li.open > a:focus {
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid transparent;
        box-shadow: 0 2px 5px #111;
        color: #fff; }
      .navbar.navbar-default .navbar-nav li.open .dropdown-menu {
        border-radius: 0;
        padding: 0; }
        .navbar.navbar-default .navbar-nav li.open .dropdown-menu li {
          margin: 0;
          border-bottom: 1px solid #c8c8c8; }
          .navbar.navbar-default .navbar-nav li.open .dropdown-menu li a {
            color: #999999; }
          .navbar.navbar-default .navbar-nav li.open .dropdown-menu li:hover a {
            background-color: #ff8900;
            border-radius: 0;
            border: 1px solid transparent;
            color: #fff; }
      .navbar.navbar-default .navbar-nav li.user {
        width: 150px; }
        .navbar.navbar-default .navbar-nav li.user a span.fa-stack .fa-inverse {
          color: #999999; }
        .navbar.navbar-default .navbar-nav li.user a:focus {
          width: 150px; }
        .navbar.navbar-default .navbar-nav li.user .dropdown-menu {
          min-width: 150px; }
          .navbar.navbar-default .navbar-nav li.user .dropdown-menu li a {
            padding: 8px 12px; }
  .navbar .navbar-header .navbar-brand {
    padding: 0 15px; }

.navbar-collapse .navbar-form {
  margin-top: 20px; }
  .navbar-collapse .navbar-form .input-group input[type=text] {
    border-radius: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    height: 35px; }
  .navbar-collapse .navbar-form .input-group input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1; }
  .navbar-collapse .navbar-form .input-group input:-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .navbar-collapse .navbar-form .input-group input::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .navbar-collapse .navbar-form .input-group input:-ms-input-placeholder {
    color: #fff;
    opacity: 1; }
  .navbar-collapse .navbar-form .input-group-btn:last-child .btn, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-default, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-white, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-signup, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-facebook, .navbar-collapse .navbar-form .input-group-btn:last-child .btn-purple {
    margin-left: 0; }
  .navbar-collapse .navbar-form .input-group-btn.open .dropdown-menu-right {
    right: 48px; }
  .navbar-collapse .navbar-form .input-group-btn .fa-search {
    font-size: 19px; }

.navbar-nav li {
  margin-left: 12px; }

header .content-header {
  margin-top: 5%; }
  header .content-header figure {
    width: 100px;
    height: 100px; }
  header .content-header h1 {
    font-size: 3em;
    font-weight: bold; }

.input-group-btn .btn-white, .input-group-btn .btn-signup {
  min-width: 136px;
  text-align: left; }
  .input-group-btn .btn-white .caret, .input-group-btn .btn-signup .caret {
    color: #ff8900;
    float: right;
    margin-top: 5px;
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent; }
.input-group-btn .dropdown-menu {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  min-width: 100px; }
  .input-group-btn .dropdown-menu li a {
    padding: 5px 20px; }
  .input-group-btn .dropdown-menu li:hover a {
    background-color: #ff8900;
    color: #fff; }

    @media screen and (min-width: 768px) {
      .modal .modal-dialog {
        width: 500px;
        margin: 10% auto 30px; } }
    .modal .modal-header,
    .modal .modal-body,
    .modal .modal-footer {
      padding: 0; }
    .modal .modal-content {
      padding: 30px 50px 50px;
      box-shadow: none; }
    .modal .modal-header {
      text-align: center;
      border-bottom: none;
      margin-bottom: 20px; }
    .modal .modal-body {
      margin: 0; }
      .modal .modal-body .group-form {
        position: relative;
        margin-bottom: 20px; }
        .modal .modal-body .group-form .fa {
          position: absolute;
          top: 12px;
          left: 10px; }
        .modal .modal-body .group-form input[type=text], .modal .modal-body .group-form input[type=password], .modal .modal-body .group-form input[type=email] {
          padding-left: 30px; }
          .modal .modal-body .group-form input[type=text]:focus + .fa, .modal .modal-body .group-form input[type=password]:focus + .fa, .modal .modal-body .group-form input[type=email]:focus + .fa {
            color: #ff8900; }
        .modal .modal-body .group-form .forgot-pass {
          display: block;
          text-align: right;
          text-decoration: none;
          color: #999999;
          font-size: 14px;
          margin-top: 5px; }
          .modal .modal-body .group-form .forgot-pass:hover {
            color: #ff8900; }
      .modal .modal-body .form-group {
        text-align: center;
        color: #ff8900; }
        .modal .modal-body .form-group label {
          font-weight: 100;
          font-size: 14px;
          margin-bottom: 15px; }
    .modal .modal-footer {
      border-top: none;
      text-align: center; }
      .modal .modal-footer .line {
        color: #999999; }
        .modal .modal-footer .line hr {
          margin: 15px 0;
          border-top: 2px solid #ccc;
          border-radius: 100%;
          width: 10%;
          display: inline-block;
          vertical-align: middle; }
      .modal .modal-footer button {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 40px; }
    .modal .signup {
      text-align: center;
      margin-top: 3px; }
    .modal#forgotPassword .modal-header p {
      padding: 15px 0 10px;
      margin: 0;
      font-size: 12px; }

/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE_oTkEokFSrSpvYSpZOeZRs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE0_0lycXMw8PhobHtu2Qgco.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE8u2Q0OS-KeTAWjgkS85mDg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/SKK6Nusyv8QPNMtI4j9J2yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: local('Prompt Light'), local('Prompt-Light'), url(https://fonts.gstatic.com/s/prompt/v1/HOJy9gnnNrqMZS0RUh6nUBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: local('Prompt Light'), local('Prompt-Light'), url(https://fonts.gstatic.com/s/prompt/v1/yX_Y9PoNi85v4vfSj4Y75RJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: local('Prompt Light'), local('Prompt-Light'), url(https://fonts.gstatic.com/s/prompt/v1/QtiD1Vfb8jUmh2KSIqLEtBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: local('Prompt Light'), local('Prompt-Light'), url(https://fonts.gstatic.com/s/prompt/v1/ufd59T_nsg6D9Pwkuk7SoFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v1/VcBIOGXxp08iW8zks9yUFPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v1/IxmUoSq3Eq8xdl9we0o_QPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v1/O_NrGbgzuFKyAg9JXutx2_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v1/so624u2w562OaE2DHdX71g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
