<section class="home-get-app">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="get-app-content">
          <figure>
            <img src="assets/images/logo/logo-app.png" alt="">
          </figure>
          <h1>Get App</h1>
          <p>Choose your native platform and<br>get start.</p>
        </div>
        <div class="group-btn">
          <button type="button" name="button" class="btn btn-purple">
            <i class="fa fa-apple fa-2x"></i> Apple iOS
          </button>
          <button type="button" name="button" class="btn btn-purple">
            <i class="fa fa-android fa-2x"></i> Android
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
