.home-get-app {
  background-image: url("../assets/images/app/app.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px; }
  .home-get-app .get-app-content {
    margin-top: 180px;
    color: #fff;
    text-align: center; }
    .home-get-app .get-app-content figure {
      width: 30%;
      margin: 0 auto; }
      .home-get-app .get-app-content figure img {
        width: 100%; }
  .home-get-app .group-btn {
    display: block;
    text-align: center; }
    .home-get-app .group-btn button {
      font-size: 16px;
      font-weight: bold;
      margin: 5px; }
      .home-get-app .group-btn button.btn-purple {
        border-radius: 40px;
        padding: 10px 25px; }
        .home-get-app .group-btn button.btn-purple .fa {
          vertical-align: middle;
          margin-right: 8px; }
      .home-get-app .group-btn button:hover, .home-get-app .group-btn button:focus {
        background-color: rgba(49, 14, 155, 0.9);
        color: #fff; }
